openapi: 3.0.3
info:
  title: Ipmoney API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://ipmoney.com
  description: |
    Ipmoney API (P0) for mini-program, H5 and admin console.
servers:
  - url: https://api.ipmoney.com/v1
tags:
  - name: Auth
    description: Auth
  - name: Users
    description: Users
  - name: Organizations
    description: Organizations
  - name: Config
    description: Config
  - name: Files
    description: Files
  - name: Patents
    description: Patents
  - name: Search
    description: Search
  - name: Listings
    description: Listings
  - name: TechManagers
    description: Tech managers
  - name: Orders
    description: Orders
  - name: Payments
    description: Payments
  - name: Refunds
    description: Refunds
  - name: Cases
    description: Cases
  - name: Invoices
    description: Invoices
  - name: Messaging
    description: Messaging
  - name: Notifications
    description: Notifications
  - name: Comments
    description: Comments
  - name: Regions
    description: Regions
  - name: Admin
    description: Admin
  - name: AI
    description: AI
  - name: Maintenance
    description: Maintenance
  - name: Alerts
    description: Alerts
  - name: System
    description: System
paths:
  /health:
    get:
      tags:
        - System
      summary: 鍋ュ悍妫€鏌?
      operationId: getHealth
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                properties:
                  ok:
                    type: boolean
                  checks:
                    type: object
                    properties:
                      db:
                        type: object
                        properties:
                          ok:
                            type: boolean
                          message:
                            type: string
                      redis:
                        type: object
                        properties:
                          ok:
                            type: boolean
                          message:
                            type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/wechat/mp-login:
    post:
      tags:
        - Auth
      summary: 寰俊灏忕▼搴忕櫥褰曪紙code 鈫?token锛?
      description: |
        灏忕▼搴忕閫氳繃 `wx.login` 鑾峰彇 `code` 鍚庤皟鐢ㄦ湰鎺ュ彛銆?
        璇存槑锛?        - 鏈嶅姟绔簲浣跨敤寰俊 `code2Session`锛坄/sns/jscode2session`锛夋崲鍙?`openid/session_key`锛屽苟鎸?`openid` 鍋氱敤鎴锋槧灏勫悗绛惧彂骞冲彴 `accessToken`銆?        - `wx.login` 涓嶈繑鍥炲ご鍍?鏄电О锛氬ご鍍?鏄电О寤鸿璧?`chooseAvatar + input type="nickname"`锛屽苟閫氳繃 `POST /files` + `PATCH /me` 钀藉簱銆?
      operationId: authWechatMpLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/wechat/phone-bind:
    post:
      tags:
        - Auth
      summary: WeChat phone bind (Mini Program)
      description: |
        Mini Program obtains `phoneCode` from `open-type="getPhoneNumber"` and calls this API to bind the phone.

        Notes:
        - Requires BearerAuth.
        - Real implementation should call WeChat `phonenumber.getPhoneNumber` and persist the phone to the user profile.
      operationId: authWechatPhoneBind
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneCode
              properties:
                phoneCode:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - phone
                properties:
                  phone:
                    $ref: '#/components/schemas/PhoneNumber'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/sms/send:
    post:
      tags:
        - Auth
      summary: 鍙戦€佺煭淇￠獙璇佺爜
      operationId: authSmsSend
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - purpose
              properties:
                phone:
                  $ref: '#/components/schemas/PhoneNumber'
                purpose:
                  $ref: '#/components/schemas/SmsPurpose'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - cooldownSeconds
                properties:
                  cooldownSeconds:
                    type: integer
                    minimum: 0
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/sms/verify:
    post:
      tags:
        - Auth
      summary: 鐭俊楠岃瘉鐮佺櫥褰?
      operationId: authSmsVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - code
              properties:
                phone:
                  $ref: '#/components/schemas/PhoneNumber'
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /me:
    get:
      tags:
        - Users
      summary: 鑾峰彇鎴戠殑璧勬枡
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
        - Users
      summary: 鏇存柊鎴戠殑璧勬枡
      operationId: updateMe
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  maxLength: 50
                  description: 鏄电О锛涘皬绋嬪簭绔缓璁娇鐢?`<input type="nickname">` 閲囬泦
                avatarUrl:
                  type: string
                  format: uri
                  description: 澶村儚 URL锛涘缓璁厛 `POST /files` 涓婁紶锛坄purpose=AVATAR`锛夊啀鍐欏叆
                regionCode:
                  type: string
                  description: 鐢ㄤ簬鍦板煙鎺ㄨ崘锛涘皬绋嬪簭瀹氫綅/鎵嬪姩閫夋嫨鍚庡彲鏇存柊
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/verification:
    get:
      tags:
        - Users
      summary: 鑾峰彇鎴戠殑璁よ瘉淇℃伅
      operationId: getMyVerification
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Users
      summary: 鎻愪氦璁よ瘉
      operationId: submitMyVerification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserVerificationSubmitRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /me/addresses:
    get:
      tags:
        - Users
      summary: 鎴戠殑鍦板潃鍒楄〃
      operationId: listMyAddresses
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Users
      summary: 鏂板鍦板潃
      operationId: createMyAddress
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/addresses/{addressId}:
    patch:
      tags:
        - Users
      summary: 鏇存柊鍦板潃
      operationId: updateMyAddress
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AddressId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Users
      summary: 鍒犻櫎鍦板潃
      operationId: deleteMyAddress
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AddressId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/favorites:
    get:
      tags:
        - Listings
      summary: 鎴戠殑鏀惰棌鍒楄〃
      operationId: listMyFavoriteListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListingSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/recommendations/listings:
    get:
      tags:
        - Search
      summary: 鐚滀綘鍠滄锛堜釜鎬у寲鎺ㄨ崘锛?
      operationId: getMyRecommendedListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListingSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notifications:
    get:
      tags:
        - Notifications
      summary: 閫氱煡鍒楄〃
      operationId: listMyNotifications
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedNotification'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notifications/{notificationId}:
    get:
      tags:
        - Notifications
      summary: 閫氱煡璇︽儏
      operationId: getNotificationById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NotificationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /files:
    post:
      tags:
        - Files
      summary: 涓婁紶鏂囦欢
      description: |
        鐢ㄤ簬涓婁紶澶村儚/璁よ瘉鏉愭枡/鍚堝悓绛夋枃浠躲€?
        灏忕▼搴忓ご鍍忓缓璁細
        1) `purpose=AVATAR`
        2) 涓婁紶鎴愬姛鎷垮埌 `url`
        3) `PATCH /me { avatarUrl: url }`
      operationId: uploadFile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  $ref: '#/components/schemas/FilePurpose'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /files/{fileId}:
    get:
      tags:
        - Files
      summary: Download file
      operationId: downloadFile
      security:
        - BearerAuth: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
        - name: token
          in: query
          required: false
          description: 涓存椂璁块棶 token锛堢敤浜庢棤闇€鐧诲綍鐨勪笅杞斤級
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /files/{fileId}/preview:
    get:
      tags:
        - Files
      summary: 棰勮鏂囦欢锛堝甫姘村嵃锛?
      operationId: previewFile
      security:
        - BearerAuth: []
        - {}
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
        - name: token
          in: query
          required: false
          description: 涓存椂璁块棶 token锛堢敤浜庢棤闇€鐧诲綍鐨勯瑙堬級
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /files/{fileId}/temporary-access:
    post:
      tags:
        - Files
      summary: 鐢熸垚涓存椂璁块棶閾炬帴
      operationId: createFileTemporaryAccess
      security:
        - BearerAuth: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileTemporaryAccessRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTemporaryAccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /patents/normalize:
    post:
      tags:
        - Patents
      summary: 涓撳埄鍙风爜瑙ｆ瀽涓庤鑼冨寲
      operationId: normalizePatentNumber
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentNormalizeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentNormalizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /patents/{patentId}:
    get:
      tags:
        - Patents
      summary: 鑾峰彇涓撳埄涓绘暟鎹?
      operationId: getPatentById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/config/trade-rules:
    get:
      tags:
        - Config
      summary: 鑾峰彇浜ゆ槗瑙勫垯閰嶇疆锛堝墠鍙板睍绀虹敤锛?
      operationId: getPublicTradeRulesConfig
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeRulesConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/config/customer-service:
    get:
      tags:
        - Config
      summary: 鑾峰彇瀹㈡湇閰嶇疆锛堝墠鍙板睍绀虹敤锛?
      operationId: getPublicCustomerServiceConfig
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/listings/{listingId}:
    get:
      tags:
        - Listings
      summary: 鑾峰彇涓婃灦璇︽儏锛堝叕寮€锛?
      operationId: getPublicListingById
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingPublic'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/listings/{listingId}/comments:
    get:
      tags:
        - Comments
      summary: 鑾峰彇涓婃灦鐣欒█鍒楄〃锛堝叕寮€锛?
      operationId: listPublicListingComments
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCommentThread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/tech-managers/{techManagerId}:
    get:
      tags:
        - TechManagers
      summary: 鑾峰彇鎶€鏈粡鐞嗕汉璇︽儏锛堝叕寮€锛?
      operationId: getPublicTechManagerById
      security: []
      parameters:
        - $ref: '#/components/parameters/TechManagerId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechManagerPublic'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/organizations:
    get:
      tags:
        - Organizations
      summary: 鑾峰彇鍏ラ┗鏈烘瀯鍒楄〃锛堜紒涓?绉戠爺闄㈡牎绛夛級
      operationId: listPublicOrganizations
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/OrganizationTypes'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedOrganizationSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/industry-tags:
    get:
      tags:
        - Regions
      summary: 鑾峰彇浜т笟鏍囩鍒楄〃锛堢敤浜庣瓫閫夛級
      operationId: listPublicIndustryTags
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndustryTag'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/organizations/{orgUserId}:
    get:
      tags:
        - Organizations
      summary: 鑾峰彇鏈烘瀯璇︽儏锛堝叕寮€锛?
      operationId: getPublicOrganizationById
      security: []
      parameters:
        - $ref: '#/components/parameters/OrgUserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSummary'
        '404':
          $ref: '#/components/responses/NotFound'
  /regions:
    get:
      tags:
        - Regions
      summary: 鑾峰彇琛屾斂鍖哄垝鏍戯紙鐢ㄤ簬绛涢€?鍦板浘锛?
      description: |-
        鐢ㄤ簬鍦板尯绛涢€変笌鍦板浘瀹氫綅銆?
        灏忕▼搴忋€屼笓鍒╁湴鍥俱€峆0锛堟渶蹇惤鍦帮級浼氱敤 `level=PROVINCE` 鑾峰彇鍚勭渷浠界殑 `centerLat/centerLng` 浣滀负鍦板浘 marker 鍧愭爣銆?
      operationId: listRegions
      security: []
      parameters:
        - name: level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RegionLevel'
        - name: parentCode
          in: query
          required: false
          schema:
            type: string
            pattern: ^[0-9]{6}$
          description: 鐖剁骇琛屾斂鍖哄垝 adcode锛? 浣嶅瓧绗︿覆锛?
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
  /search/listings:
    get:
      tags:
        - Search
      summary: 涓撳埄浜ゆ槗妫€绱?
      operationId: searchListings
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/QType'
        - $ref: '#/components/parameters/PatentType'
        - $ref: '#/components/parameters/Inventor'
        - $ref: '#/components/parameters/Applicant'
        - $ref: '#/components/parameters/Assignee'
        - $ref: '#/components/parameters/SellerUserId'
        - $ref: '#/components/parameters/TradeMode'
        - $ref: '#/components/parameters/LicenseMode'
        - $ref: '#/components/parameters/PriceType'
        - $ref: '#/components/parameters/PriceMin'
        - $ref: '#/components/parameters/PriceMax'
        - $ref: '#/components/parameters/DepositMin'
        - $ref: '#/components/parameters/DepositMax'
        - $ref: '#/components/parameters/TransferCountMin'
        - $ref: '#/components/parameters/TransferCountMax'
        - $ref: '#/components/parameters/ListingTopic'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/IndustryTags'
        - $ref: '#/components/parameters/Ipc'
        - $ref: '#/components/parameters/Loc'
        - $ref: '#/components/parameters/LegalStatus'
        - $ref: '#/components/parameters/CreatedFrom'
        - $ref: '#/components/parameters/CreatedTo'
        - $ref: '#/components/parameters/FilingDateFrom'
        - $ref: '#/components/parameters/FilingDateTo'
        - $ref: '#/components/parameters/PublicationDateFrom'
        - $ref: '#/components/parameters/PublicationDateTo'
        - $ref: '#/components/parameters/GrantDateFrom'
        - $ref: '#/components/parameters/GrantDateTo'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListingSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
  /search/tech-managers:
    get:
      tags:
        - Search
        - TechManagers
      summary: 鎶€鏈粡鐞嗕汉妫€绱?
      operationId: searchTechManagers
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/TechManagerSortBy'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedTechManagerSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
  /search/inventors:
    get:
      tags:
        - Search
      summary: 鍙戞槑浜烘帓琛屾锛堟寜骞冲彴鍐呬笂浼犱笓鍒╃粺璁★級
      operationId: searchInventorRankings
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/PatentType'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedInventorRanking'
        '400':
          $ref: '#/components/responses/BadRequest'
  /ai/agent/query:
    post:
      tags:
        - AI
      summary: 鏅鸿兘浣撹涔夋绱紙P1锛?
      description: |
        鏀寔鏂囨湰/璇煶杈撳叆锛岃緭鍑虹粨鏋勫寲妫€绱㈡潯浠朵笌鍖归厤鐞嗙敱銆?        灏忕▼搴忔敮鎸佽闊宠緭鍏ワ紱H5 浠呮彁绀哄幓灏忕▼搴忎娇鐢ㄨ闊虫悳绱€?
      operationId: createAiAgentQuery
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAgentQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAgentQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
  /ai/parse-results/{parseResultId}/feedback:
    post:
      tags:
        - AI
      summary: AI 瑙ｆ瀽璇勪环/绾犻敊鍙嶉锛圥1锛?
      operationId: createAiParseFeedback
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParseResultId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiParseFeedbackRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiParseFeedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings:
    post:
      tags:
        - Listings
      summary: 鍒涘缓涓婃灦鑽夌锛堝崠瀹讹級
      operationId: createListing
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    get:
      tags:
        - Listings
      summary: 鎴戠殑涓婃灦鍒楄〃锛堝崠瀹讹級
      operationId: listMyListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingStatus'
        - $ref: '#/components/parameters/AuditStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListing'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /listings/{listingId}:
    get:
      tags:
        - Listings
      summary: 鑾峰彇涓婃灦璇︽儏锛堝崠瀹?宸茬櫥褰曪級
      operationId: getListingById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Listings
      summary: 鏇存柊涓婃灦鑽夌锛堝崠瀹讹級
      operationId: updateListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /listings/{listingId}/favorites:
    post:
      tags:
        - Listings
      summary: 鏀惰棌
      operationId: favoriteListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags:
        - Listings
      summary: 鍙栨秷鏀惰棌
      operationId: unfavoriteListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}/consultations:
    post:
      tags:
        - Listings
      summary: 璁板綍鍜ㄨ鐑害浜嬩欢锛堢敤浜庢帹鑽愶級
      operationId: createListingConsultation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  enum:
                    - WECHAT_CS
                    - PHONE
                    - FORM
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}/comments:
    post:
      tags:
        - Comments
      summary: 鍒涘缓涓婃灦鐣欒█/鍥炲
      operationId: createListingComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}/submit:
    post:
      tags:
        - Listings
      summary: 鎻愪氦瀹℃牳锛堝崠瀹讹級
      operationId: submitListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /listings/{listingId}/off-shelf:
    post:
      tags:
        - Listings
      summary: 涓嬫灦锛堝崠瀹讹級
      operationId: offShelfListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /comments/{commentId}:
    patch:
      tags:
        - Comments
      summary: 缂栬緫鐣欒█
      operationId: updateComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommentId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags:
        - Comments
      summary: 鍒犻櫎鐣欒█
      operationId: deleteComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommentId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders:
    post:
      tags:
        - Orders
      summary: 鍒涘缓璁㈠崟锛堜拱瀹讹級
      operationId: createOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - listingId
              properties:
                listingId:
                  $ref: '#/components/schemas/Uuid'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags:
        - Orders
      summary: 鎴戠殑璁㈠崟鍒楄〃锛堜拱瀹?鍗栧锛?
      operationId: listMyOrders
      security:
        - BearerAuth: []
      parameters:
        - name: asRole
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/OrderListRole'
        - $ref: '#/components/parameters/OrderStatus'
        - $ref: '#/components/parameters/OrderStatusGroup'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: 鑾峰彇璁㈠崟璇︽儏
      operationId: getOrderById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/payment-intents:
    post:
      tags:
        - Payments
      summary: 鍒涘缓鏀粯鎰忓浘锛堣閲?灏炬锛?
      operationId: createPaymentIntent
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payType
              properties:
                payType:
                  $ref: '#/components/schemas/PayType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/refund-requests:
    post:
      tags:
        - Refunds
      summary: 鍙戣捣閫€娆剧敵璇?
      operationId: createRefundRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequestCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags:
        - Refunds
      summary: 鏌ヨ閫€娆剧敵璇峰垪琛?
      operationId: listRefundRequestsByOrder
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RefundRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/case:
    get:
      tags:
        - Cases
      summary: 鑾峰彇璁㈠崟璺熷崟宸ュ崟涓庨噷绋嬬
      operationId: getOrderCase
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseWithMilestones'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/invoice:
    get:
      tags:
        - Invoices
      summary: 鑾峰彇璁㈠崟鐢靛瓙鍙戠エ锛堣鍗曞畬鎴愬悗锛?
      operationId: getOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInvoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/invoice-requests:
    post:
      tags:
        - Invoices
      summary: 鍙戣捣寮€绁ㄧ敵璇凤紙婕旂ず锛?
      description: |
        P0 鍙ｅ緞锛氬钩鍙版敮鎸佲€滆储鍔＄嚎涓嬪紑绁?+ 鍚庡彴涓婁紶鍙戠エ PDF + 鐢ㄦ埛涓嬭浇鈥濄€?        褰撳墠瀹炵幇涓烘紨绀虹敤閫旓紝淇濈暀鐢宠鍏ュ彛浠ヤ究瀵归綈鍓嶇娴佺▼涓庡悗缁墿灞曘€?
      operationId: requestOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices:
    get:
      tags:
        - Invoices
      summary: 鍙戠エ绠＄悊涓績鍒楄〃锛堟紨绀猴級
      operationId: listMyInvoices
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/InvoiceStatus'
          description: 鍙戠エ鐘舵€佺瓫閫?
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedInvoiceItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/wechatpay/notify:
    post:
      tags:
        - Payments
      summary: 寰俊鏀粯鍥炶皟锛堝唴閮ㄦ帴鍙ｏ級
      operationId: wechatPayNotify
      security: []
      description: |-
        寰俊鏀粯 v3 鍥炶皟缁熶竴鍏ュ彛锛堟敮浠?閫€娆撅級锛氭湇鍔＄蹇呴』鎵ц **楠岀 + 瑙ｅ瘑 resource**锛屽苟鍋氬箓绛夊鐞嗭紙閬垮厤閲嶅閫氱煡瀵艰嚧閲嶅鍏ヨ处/閲嶅閫€娆撅級銆?        鍙傝€冿細寰俊鏀粯 v3 鏂囨。涓殑鍥炶皟 HTTP Header锛圵echatpay-*锛変笌鍥炶皟鎶ユ枃 resource 瑙ｅ瘑娴佺▼銆?      parameters:
        - $ref: "#/components/parameters/WechatpayTimestamp"
        - $ref: "#/components/parameters/WechatpayNonce"
        - $ref: "#/components/parameters/WechatpaySignature"
        - $ref: "#/components/parameters/WechatpaySerial"
        - $ref: "#/components/parameters/WechatpaySignatureType"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
  /me/conversations:
    get:
      tags:
        - Messaging
      summary: 鑾峰彇鎴戠殑浼氳瘽鍒楄〃
      operationId: listMyConversations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedConversationSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /listings/{listingId}/conversations:
    post:
      tags:
        - Messaging
      summary: 鍒涘缓/鑾峰彇涓庤涓婃灦鐩稿叧鐨勪細璇濓紙鍜ㄨ锛?
      operationId: upsertListingConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /tech-managers/{techManagerId}/conversations:
    post:
      tags:
        - Messaging
        - TechManagers
      summary: 鍒涘缓/鑾峰彇涓庤鎶€鏈粡鐞嗕汉鐩稿叧鐨勪細璇濓紙鍜ㄨ锛?
      operationId: upsertTechManagerConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TechManagerId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /conversations/{conversationId}/messages:
    get:
      tags:
        - Messaging
      summary: 鑾峰彇浼氳瘽娑堟伅鍒楄〃
      operationId: listConversationMessages
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: 娓告爣鍒嗛〉锛堜负绌鸿〃绀轰粠鏈€鏂板紑濮嬶級
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedConversationMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Messaging
      summary: 鍙戦€佹秷鎭紙鏂囨湰/琛ㄦ儏锛?
      operationId: sendConversationMessage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMessageSendRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /conversations/{conversationId}/read:
    post:
      tags:
        - Messaging
      summary: 鏍囪浼氳瘽宸茶
      operationId: markConversationRead
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/regions:
    get:
      tags:
        - Admin
        - Regions
      summary: 鍖哄煙绠＄悊锛氭煡璇㈠尯鍩熷垪琛?
      operationId: adminListRegions
      security:
        - BearerAuth: []
      parameters:
        - name: level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RegionLevel'
        - name: parentCode
          in: query
          required: false
          schema:
            type: string
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: 鍚嶇О/鎷奸煶妯＄硦鎼滅储
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Regions
      summary: 鍖哄煙绠＄悊锛氭柊澧炲尯鍩熻妭鐐?
      operationId: adminCreateRegion
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/regions/{regionCode}:
    patch:
      tags:
        - Admin
        - Regions
      summary: 鍖哄煙绠＄悊锛氭洿鏂板尯鍩熻妭鐐?
      operationId: adminUpdateRegion
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionCodePath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/regions/{regionCode}/industry-tags:
    put:
      tags:
        - Admin
        - Regions
      summary: 鍖哄煙绠＄悊锛氳缃尯鍩熺壒鑹蹭骇涓氭爣绛?
      operationId: adminSetRegionIndustryTags
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionCodePath'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - industryTags
              properties:
                industryTags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/industry-tags:
    get:
      tags:
        - Admin
        - Regions
      summary: 鑾峰彇鍙敤浜т笟鏍囩鍒楄〃
      operationId: adminListIndustryTags
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndustryTag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Regions
      summary: 鏂板浜т笟鏍囩
      operationId: adminCreateIndustryTag
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndustryTagCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndustryTag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/config/trade-rules:
    get:
      tags:
        - Admin
        - Config
      summary: 鑾峰彇浜ゆ槗瑙勫垯閰嶇疆锛堝悗鍙帮級
      operationId: adminGetTradeRulesConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeRulesConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
      summary: 鏇存柊浜ゆ槗瑙勫垯閰嶇疆锛堝悗鍙帮級
      operationId: adminUpdateTradeRulesConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeRulesConfigUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeRulesConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/config/customer-service:
    get:
      tags:
        - Admin
        - Config
      summary: 鑾峰彇瀹㈡湇閰嶇疆锛堝悗鍙帮級
      operationId: adminGetCustomerServiceConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
      summary: 鏇存柊瀹㈡湇閰嶇疆锛堝悗鍙帮級
      operationId: adminUpdateCustomerServiceConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceConfigUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contracts:
    get:
      tags:
        - Contracts
      summary: 鍚堝悓涓績鍒楄〃
      description: |
        鍚堝悓鏂囦欢浠呮敮鎸?PDF銆?        - 浠呭崠瀹跺彲涓婁紶鍚堝悓锛坄POST /contracts/{contractId}/upload`锛?        - 涔板鍙煡闃呭苟纭锛堢‘璁よ兘鍔?P1锛汸0 浠モ€滃緟纭/鍙煡闃呪€濈姸鎬佹紨绀轰负鍑嗭級
      operationId: listContracts
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ContractStatus'
          description: 鍚堝悓鐘舵€佺瓫閫?
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contracts/{contractId}/upload:
    post:
      tags:
        - Contracts
      summary: 鍗栧涓婁紶鍚堝悓锛圥DF锛?
      description: |
        娴佺▼锛?        1) `POST /files` 涓婁紶 PDF锛坄purpose=CONTRACT_EVIDENCE`锛?        2) 鎷垮埌 `file.id`
        3) 璋冪敤鏈帴鍙ｆ妸 `contractFileId` 鍏宠仈鍒板悎鍚岃褰?
      operationId: uploadContractPdf
      security:
        - BearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
          description: 鍚堝悓 ID锛堝綋鍓嶅疄鐜颁负 `contract-{orderId}`锛?
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUploadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/config/recommendation:
    get:
      tags:
        - Admin
        - Config
      summary: 鑾峰彇鎺ㄨ崘閰嶇疆锛堝悗鍙帮級
      operationId: adminGetRecommendationConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
      summary: 鏇存柊鎺ㄨ崘閰嶇疆锛堝悗鍙帮級
      operationId: adminUpdateRecommendationConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationConfigUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/config/alerts:
    get:
      tags:
        - Admin
        - Config
        - Alerts
      summary: 鑾峰彇鍛婅閰嶇疆锛堝悗鍙帮紝P1锛?
      operationId: adminGetAlertConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
        - Alerts
      summary: 鏇存柊鍛婅閰嶇疆锛堝悗鍙帮紝P1锛?
      operationId: adminUpdateAlertConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertConfigUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/ai/parse-results:
    get:
      tags:
        - Admin
        - AI
      summary: AI 瑙ｆ瀽澶嶆牳鍒楄〃锛圥1锛?
      operationId: adminListAiParseResults
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AiContentType'
        - $ref: '#/components/parameters/AiParseStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAiParseResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/ai/parse-results/{parseResultId}:
    get:
      tags:
        - Admin
        - AI
      summary: 鑾峰彇 AI 瑙ｆ瀽璇︽儏锛圥1锛?
      operationId: adminGetAiParseResult
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParseResultId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiParseResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
        - AI
      summary: 鏇存柊 AI 瑙ｆ瀽缁撴灉锛圥1锛?
      operationId: adminUpdateAiParseResult
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParseResultId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiParseResultUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiParseResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/patents:
    get:
      tags:
        - Admin
        - Patents
      summary: 涓撳埄搴撳垪琛紙鍚庡彴锛孭1锛?
      operationId: adminListPatents
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/PatentType'
        - $ref: '#/components/parameters/LegalStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPatent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Patents
      summary: 鏂板缓涓撳埄涓绘暟鎹紙鍚庡彴锛孭1锛?
      operationId: adminCreatePatent
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/patents/{patentId}:
    get:
      tags:
        - Admin
        - Patents
      summary: 鑾峰彇涓撳埄涓绘暟鎹紙鍚庡彴锛孭1锛?
      operationId: adminGetPatentById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
        - Patents
      summary: 鏇存柊涓撳埄涓绘暟鎹紙鍚庡彴锛孭1锛?
      operationId: adminUpdatePatent
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/patent-maintenance/schedules:
    get:
      tags:
        - Admin
        - Maintenance
      summary: 骞磋垂鏃ョ▼鍒楄〃锛堝悗鍙帮紝P1锛?
      operationId: adminListPatentMaintenanceSchedules
      security:
        - BearerAuth: []
      parameters:
        - name: patentId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Uuid'
        - $ref: '#/components/parameters/MaintenanceStatus'
        - name: dueFrom
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dueTo
          in: query
          required: false
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPatentMaintenanceSchedule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Maintenance
      summary: 鍒涘缓骞磋垂鏃ョ▼锛堝悗鍙帮紝P1锛?
      operationId: adminCreatePatentMaintenanceSchedule
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentMaintenanceScheduleCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentMaintenanceSchedule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/patent-maintenance/schedules/{scheduleId}:
    get:
      tags:
        - Admin
        - Maintenance
      summary: 鑾峰彇骞磋垂鏃ョ▼璇︽儏锛堝悗鍙帮紝P1锛?
      operationId: adminGetPatentMaintenanceSchedule
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MaintenanceScheduleId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentMaintenanceSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
        - Maintenance
      summary: 鏇存柊骞磋垂鏃ョ▼锛堝悗鍙帮紝P1锛?
      operationId: adminUpdatePatentMaintenanceSchedule
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MaintenanceScheduleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentMaintenanceScheduleUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentMaintenanceSchedule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/patent-maintenance/tasks:
    get:
      tags:
        - Admin
        - Maintenance
      summary: 鎵樼浠诲姟鍒楄〃锛堝悗鍙帮紝P1锛?
      operationId: adminListPatentMaintenanceTasks
      security:
        - BearerAuth: []
      parameters:
        - name: scheduleId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Uuid'
        - name: assignedCsUserId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Uuid'
        - $ref: '#/components/parameters/MaintenanceTaskStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPatentMaintenanceTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Maintenance
      summary: 鍒涘缓鎵樼浠诲姟锛堝悗鍙帮紝P1锛?
      operationId: adminCreatePatentMaintenanceTask
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentMaintenanceTaskCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentMaintenanceTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/patent-maintenance/tasks/{taskId}:
    patch:
      tags:
        - Admin
        - Maintenance
      summary: 鏇存柊鎵樼浠诲姟锛堝悗鍙帮紝P1锛?
      operationId: adminUpdatePatentMaintenanceTask
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MaintenanceTaskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentMaintenanceTaskUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentMaintenanceTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/alerts:
    get:
      tags:
        - Admin
        - Alerts
      summary: 鍛婅浜嬩欢鍒楄〃锛堝悗鍙帮紝P1锛?
      operationId: adminListAlertEvents
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AlertStatus'
        - $ref: '#/components/parameters/AlertSeverity'
        - $ref: '#/components/parameters/AlertChannel'
        - $ref: '#/components/parameters/AlertTargetType'
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: targetId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Uuid'
        - name: triggeredFrom
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: triggeredTo
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAlertEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/alerts/{alertId}/ack:
    post:
      tags:
        - Admin
        - Alerts
      summary: 鍛婅纭锛堝悗鍙帮紝P1锛?
      operationId: adminAcknowledgeAlertEvent
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AlertId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/listings:
    get:
      tags:
        - Admin
      summary: 涓婃灦瀹℃牳/骞冲彴鍐呭鍒楄〃
      operationId: adminListListingsForAudit
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/AuditStatus'
        - $ref: '#/components/parameters/ListingStatus'
        - $ref: '#/components/parameters/ContentSource'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
      summary: 鍒涘缓骞冲彴鑷湁涓婃灦锛圥1锛?
      operationId: adminCreateListing
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminListingCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/listings/{listingId}:
    get:
      tags:
        - Admin
      summary: 鑾峰彇涓婃灦璇︽儏锛堝悗鍙帮紝P1锛?
      operationId: adminGetListingById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
      summary: 鏇存柊骞冲彴鑷湁涓婃灦锛堝悗鍙帮紝P1锛?
      operationId: adminUpdateListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminListingUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/listings/{listingId}/publish:
    post:
      tags:
        - Admin
      summary: 鍙戝竷涓婃灦锛堝悗鍙帮紝P1锛?
      operationId: adminPublishListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/listings/{listingId}/off-shelf:
    post:
      tags:
        - Admin
      summary: 涓嬫灦锛堝悗鍙帮紝P1锛?
      operationId: adminOffShelfListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/listings/{listingId}/approve:
    post:
      tags:
        - Admin
      summary: 涓婃灦瀹℃牳閫氳繃
      operationId: adminApproveListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/listings/{listingId}/reject:
    post:
      tags:
        - Admin
      summary: 涓婃灦瀹℃牳椹冲洖
      operationId: adminRejectListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  minLength: 1
                  maxLength: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/listings/{listingId}/featured:
    put:
      tags:
        - Admin
      summary: 鏍囪鐪?甯傜骇鐗硅壊浜т笟涓撳埄锛堢疆椤?鍔犳潈锛?
      operationId: adminSetListingFeatured
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingFeaturedUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/tech-managers:
    get:
      tags:
        - Admin
        - TechManagers
      summary: 鎶€鏈粡鐞嗕汉绠＄悊鍒楄〃
      operationId: adminListTechManagers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/VerificationStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedTechManagerSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/tech-managers/{techManagerId}:
    patch:
      tags:
        - Admin
        - TechManagers
      summary: 鏇存柊鎶€鏈粡鐞嗕汉灞曠ず淇℃伅
      operationId: adminUpdateTechManager
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TechManagerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechManagerUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechManagerPublic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/comments:
    get:
      tags:
        - Admin
      summary: 鐣欒█绠＄悊鍒楄〃
      operationId: adminListComments
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/CommentContentType'
        - $ref: '#/components/parameters/CommentContentId'
        - $ref: '#/components/parameters/CommentStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedComment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/comments/{commentId}:
    patch:
      tags:
        - Admin
      summary: 鏇存柊鐣欒█鐘舵€侊紙闅愯棌/鎭㈠/鍒犻櫎锛?
      operationId: adminUpdateComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommentUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/user-verifications:
    get:
      tags:
        - Admin
      summary: 璁よ瘉瀹℃牳鍒楄〃
      operationId: adminListUserVerifications
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: 鎸変富浣撳悕绉?鎵嬫満鍙锋ā绯婃悳绱?
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VerificationType'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VerificationStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedUserVerification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/user-verifications/{verificationId}/approve:
    post:
      tags:
        - Admin
      summary: 璁よ瘉閫氳繃
      operationId: adminApproveUserVerification
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VerificationId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/user-verifications/{verificationId}/reject:
    post:
      tags:
        - Admin
      summary: 璁よ瘉椹冲洖
      operationId: adminRejectUserVerification
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VerificationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  minLength: 1
                  maxLength: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/orders/{orderId}/payments/manual:
    post:
      tags:
        - Admin
        - Payments
      summary: 鎵嬪姩纭璁㈠崟鏀粯
      operationId: adminManualConfirmPayment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualPaymentConfirmRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualPaymentConfirmResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/orders/{orderId}/milestones/contract-signed:
    post:
      tags:
        - Admin
      summary: 鍚堝悓绛剧讲纭锛堣В閿佸熬娆炬敮浠橈級
      operationId: adminConfirmContractSigned
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - dealAmountFen
              properties:
                dealAmountFen:
                  $ref: '#/components/schemas/MoneyFen'
                evidenceFileId:
                  $ref: '#/components/schemas/Uuid'
                signedAt:
                  type: string
                  format: date-time
                remark:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/orders/{orderId}/milestones/transfer-completed:
    post:
      tags:
        - Admin
      summary: 鍙樻洿瀹屾垚纭锛堣Е鍙戠粨绠楁斁娆撅級
      operationId: adminConfirmTransferCompleted
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                evidenceFileId:
                  $ref: '#/components/schemas/Uuid'
                completedAt:
                  type: string
                  format: date-time
                remark:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/orders/{orderId}/settlement:
    get:
      tags:
        - Admin
      summary: 鏌ョ湅缁撶畻鍙拌处
      operationId: adminGetOrderSettlement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/orders/{orderId}/payouts/manual:
    post:
      tags:
        - Admin
      summary: 璐㈠姟浜哄伐鏀炬纭锛圥0 榛樿锛?
      operationId: adminConfirmManualPayout
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualPayoutConfirmRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/orders/{orderId}/invoice:
    post:
      tags:
        - Admin
      summary: Issue order invoice (admin demo)
      operationId: adminIssueOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInvoiceIssueResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    put:
      tags:
        - Admin
      summary: 涓婁紶/鏇挎崲璁㈠崟鐢靛瓙鍙戠エ锛堣储鍔★級
      operationId: adminUpsertOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInvoiceUpsertRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags:
        - Admin
      summary: 鍒犻櫎璁㈠崟鐢靛瓙鍙戠エ锛堣储鍔★級
      operationId: adminDeleteOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/refund-requests/{refundRequestId}/approve:
    post:
      tags:
        - Admin
      summary: 閫€娆惧鎵归€氳繃
      operationId: adminApproveRefundRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RefundRequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
[...]
