openapi: 3.0.3
info:
  title: Ipmoney API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://ipmoney.com
  description: |
    Ipmoney API (P0) for mini-program, H5 and admin console.
servers:
  - url: https://api.ipmoney.cn
tags:
  - name: Auth
    description: Auth
  - name: Users
    description: Users
  - name: Organizations
    description: Organizations
  - name: Config
    description: Config
  - name: Files
    description: Files
  - name: Patents
    description: Patents
  - name: Search
    description: Search
  - name: Listings
    description: Listings
  - name: Achievements
    description: Achievements
  - name: TechManagers
    description: Tech managers
  - name: Orders
    description: Orders
  - name: Payments
    description: Payments
  - name: Refunds
    description: Refunds
  - name: Cases
    description: Cases
  - name: Invoices
    description: Invoices
  - name: Messaging
    description: Messaging
  - name: Notifications
    description: Notifications
  - name: Comments
    description: Comments
  - name: Regions
    description: Regions
  - name: Admin
    description: Admin
  - name: AI
    description: AI
  - name: Maintenance
    description: Maintenance
  - name: Alerts
    description: Alerts
  - name: System
    description: System
paths:
  /health:
    get:
      tags:
        - System
      summary: 閸嬨儱鎮嶅Λ鈧弻?
      operationId: getHealth
      security: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                properties:
                  ok:
                    type: boolean
                  checks:
                    type: object
                    properties:
                      db:
                        type: object
                        properties:
                          ok:
                            type: boolean
                          message:
                            type: string
                      redis:
                        type: object
                        properties:
                          ok:
                            type: boolean
                          message:
                            type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '501':
          $ref: '#/components/responses/NotImplemented'
  /auth/wechat/mp-login:
    post:
      tags:
        - Auth
      summary: Mini Program login via wx.login code2Session
      description: |
        Exchange `wx.login` code with WeChat `code2Session`, map `openid` to platform user,
        and issue platform `accessToken`.
        - Request body requires `code`.
        - Demo-only code (`demo`) is accepted only when demo auth is enabled in non-release env.
      operationId: authWechatMpLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/wechat/phone-bind:
    post:
      tags:
        - Auth
      summary: WeChat phone bind (Mini Program)
      description: |
        Mini Program obtains `phoneCode` from `open-type="getPhoneNumber"` and calls this API to bind the phone.

        Notes:
        - Requires BearerAuth.
        - Server validates WeChat signature chain and persists bound phone on current user.
      operationId: authWechatPhoneBind
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneCode
              properties:
                phoneCode:
                  type: string
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: object
                required:
                  - phone
                properties:
                  phone:
                    $ref: '#/components/schemas/PhoneNumber'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /auth/sms/send:
    post:
      tags:
        - Auth
      summary: Send SMS code
      operationId: authSmsSend
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - purpose
              properties:
                phone:
                  $ref: '#/components/schemas/PhoneNumber'
                purpose:
                  $ref: '#/components/schemas/SmsPurpose'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: object
                required:
                  - cooldownSeconds
                properties:
                  cooldownSeconds:
                    type: integer
                    minimum: 0
                  debugCode:
                    type: string
                    description: Development-only debug field. Not returned in production.
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/sms/verify:
    post:
      tags:
        - Auth
      summary: Verify SMS code and login
      operationId: authSmsVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - code
              properties:
                phone:
                  $ref: '#/components/schemas/PhoneNumber'
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/session:
    get:
      tags:
        - Auth
      summary: Get current auth session
      operationId: authGetSession
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me:
    get:
      tags:
        - Users
      summary: 閼惧嘲褰囬幋鎴犳畱鐠у嫭鏋?
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
        - Users
      summary: 閺囧瓨鏌婇幋鎴犳畱鐠у嫭鏋?
      operationId: updateMe
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  maxLength: 50
                  description: 閺勭數袨閿涙稑鐨粙瀣碍缁旑垰缂撶拋顔诲▏閻?`<input type="nickname">` 闁插洭娉?
                avatarUrl:
                  type: string
                  format: uri
                  description: 婢舵潙鍎?URL閿涙稑缂撶拋顔煎帥 `POST /files` 娑撳﹣绱堕敍鍧刾urpose=AVATAR`閿涘鍟€閸愭瑥鍙?
                regionCode:
                  type: string
                  description: 閻劋绨崷鏉跨厵閹恒劏宕橀敍娑樼毈缁嬪绨€规矮缍?閹靛濮╅柅澶嬪閸氬骸褰查弴瀛樻煀

      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/verification:
    get:
      tags:
        - Users
      summary: 閼惧嘲褰囬幋鎴犳畱鐠併倛鐦夋穱鈩冧紖
      operationId: getMyVerification
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Users
      summary: 閹绘劒姘︾拋銈堢槈
      operationId: submitMyVerification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserVerificationSubmitRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /me/addresses:
    get:
      tags:
        - Users
      summary: 閹存垹娈戦崷鏉挎絻閸掓銆?
      operationId: listMyAddresses
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Users
      summary: 閺傛澘顤冮崷鏉挎絻
      operationId: createMyAddress
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/addresses/{addressId}:
    patch:
      tags:
        - Users
      summary: 閺囧瓨鏌婇崷鏉挎絻
      operationId: updateMyAddress
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AddressId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Users
      summary: 閸掔娀娅庨崷鏉挎絻
      operationId: deleteMyAddress
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AddressId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/favorites:
    get:
      tags:
        - Listings
      summary: 閹存垹娈戦弨鎯版閸掓銆?
      operationId: listMyFavoriteListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListingSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/favorites/achievements:
    get:
      tags:
        - Achievements
      summary: List my favorite achievements
      operationId: listMyFavoriteAchievements
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAchievementSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/recommendations/listings:
    get:
      tags:
        - Search
      summary: 閻氭粈缍橀崰婊勵偨閿涘牅閲滈幀褍瀵查幒銊ㄥ礃閿?
      operationId: getMyRecommendedListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListingSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notifications:
    get:
      tags:
        - Notifications
      summary: 闁氨鐓￠崚妤勩€?
      operationId: listMyNotifications
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedNotification'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notifications/{notificationId}:
    get:
      tags:
        - Notifications
      summary: 闁氨鐓＄拠锔藉剰
      operationId: getNotificationById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NotificationId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /files:
    post:
      tags:
        - Files
      summary: 娑撳﹣绱堕弬鍥︽
      description: |
        閻劋绨稉濠佺炊婢舵潙鍎?鐠併倛鐦夐弶鎰灐/閸氬牆鎮撶粵澶嬫瀮娴犺翰鈧?
        鐏忓繒鈻兼惔蹇撱仈閸嶅繐缂撶拋顕嗙窗
        1) `purpose=AVATAR`
        2) 娑撳﹣绱堕幋鎰閹峰灝鍩?`url`
        3) `PATCH /me { avatarUrl: url }`
      operationId: uploadFile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  $ref: '#/components/schemas/FilePurpose'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /files/{fileId}:
    get:
      tags:
        - Files
      summary: Download file
      operationId: downloadFile
      security:
        - BearerAuth: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
        - name: token
          in: query
          required: false
          description: 娑撳瓨妞傜拋鍧楁６ token閿涘牏鏁ゆ禍搴㈡￥闂団偓閻ц缍嶉惃鍕瑓鏉炴枻绱?
          schema:
            type: string
      responses:
        '200':
          description: OK

          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /files/{fileId}/preview:
    get:
      tags:
        - Files
      summary: 妫板嫯顫嶉弬鍥︽閿涘牆鐢鏉戝祪閿?
      operationId: previewFile
      security:
        - BearerAuth: []
        - {}
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
        - name: token
          in: query
          required: false
          description: 娑撳瓨妞傜拋鍧楁６ token閿涘牏鏁ゆ禍搴㈡￥闂団偓閻ц缍嶉惃鍕暕鐟欏牞绱?
          schema:
            type: string
      responses:
        '200':
          description: OK

          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /files/{fileId}/temporary-access:
    post:
      tags:
        - Files
      summary: 閻㈢喐鍨氭稉瀛樻鐠佸潡妫堕柧鐐复
      operationId: createFileTemporaryAccess
      security:
        - BearerAuth: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileTemporaryAccessRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTemporaryAccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /patents/normalize:
    post:
      tags:
        - Patents
      summary: 娑撴挸鍩勯崣椋庣垳鐟欙絾鐎芥稉搴ゎ潐閼煎啫瀵?
      operationId: normalizePatentNumber
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentNormalizeRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentNormalizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /patents/{patentId}:
    get:
      tags:
        - Patents
      summary: 閼惧嘲褰囨稉鎾冲焺娑撶粯鏆熼幑?
      operationId: getPatentById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/config/trade-rules:
    get:
      tags:
        - Config
      summary: 閼惧嘲褰囨禍銈嗘鐟欏嫬鍨柊宥囩枂閿涘牆澧犻崣鏉跨潔缁€铏规暏閿?
      operationId: getPublicTradeRulesConfig
      security: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeRulesConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/config/customer-service:
    get:
      tags:
        - Config
      summary: 閼惧嘲褰囩€广垺婀囬柊宥囩枂閿涘牆澧犻崣鏉跨潔缁€铏规暏閿?
      operationId: getPublicCustomerServiceConfig
      security: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/config/banner:
    get:
      tags:
        - Config
      summary: Get banner config (public)
      operationId: getPublicBannerConfig
      security: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BannerConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/config/home-announcements:
    get:
      tags:
        - Config
      summary: Get homepage announcements feed (public)
      operationId: getPublicHomeAnnouncementsFeed
      security: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicHomeAnnouncementFeed'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/listings/{listingId}:
    get:
      tags:
        - Listings
      summary: 閼惧嘲褰囨稉濠冪仸鐠囷附鍎忛敍鍫濆彆瀵偓閿?
      operationId: getPublicListingById
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingPublic'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/listings/{listingId}/comments:
    get:
      tags:
        - Comments
      summary: 閼惧嘲褰囨稉濠冪仸閻ｆ瑨鈻堥崚妤勩€冮敍鍫濆彆瀵偓閿?
      operationId: listPublicListingComments
      security: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCommentThread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/achievements/{achievementId}:
    get:
      tags:
        - Achievements
      summary: Get public achievement detail
      operationId: getPublicAchievementById
      security: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementDetail'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/achievements/{achievementId}/comments:
    get:
      tags:
        - Comments
        - Achievements
      summary: List public achievement comments
      operationId: listPublicAchievementComments
      security: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCommentThread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/tech-managers/{techManagerId}:
    get:
      tags:
        - TechManagers
      summary: 閼惧嘲褰囬幎鈧張顖滅病閻炲棔姹夌拠锔藉剰閿涘牆鍙曞鈧敍?
      operationId: getPublicTechManagerById
      security: []
      parameters:
        - $ref: '#/components/parameters/TechManagerId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechManagerPublic'
        '404':
          $ref: '#/components/responses/NotFound'
  /public/organizations:
    get:
      tags:
        - Organizations
      summary: 閼惧嘲褰囬崗銉┾敆閺堢儤鐎崚妤勩€冮敍鍫滅磼娑?缁夋垹鐖洪梽銏＄墡缁涘绱?
      operationId: listPublicOrganizations
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/OrganizationTypes'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedOrganizationSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/industry-tags:
    get:
      tags:
        - Regions
      summary: 閼惧嘲褰囨禍褌绗熼弽鍥╊劮閸掓銆冮敍鍫㈡暏娴滃海鐡柅澶涚礆
      operationId: listPublicIndustryTags
      security: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndustryTag'
        '400':
          $ref: '#/components/responses/BadRequest'
  /public/organizations/{orgUserId}:
    get:
      tags:
        - Organizations
      summary: 閼惧嘲褰囬張鐑樼€拠锔藉剰閿涘牆鍙曞鈧敍?
      operationId: getPublicOrganizationById
      security: []
      parameters:
        - $ref: '#/components/parameters/OrgUserId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSummary'
        '404':
          $ref: '#/components/responses/NotFound'
  /regions:
    get:
      tags:
        - Regions
      summary: 閼惧嘲褰囩悰灞炬杺閸栧搫鍨濋弽鎴礄閻劋绨粵娑⑩偓?閸︽澘娴橀敍?
      description: |-
        閻劋绨崷鏉垮隘缁涙盯鈧绗岄崷鏉挎禈鐎规矮缍呴妴?
        鐏忓繒鈻兼惔蹇嬧偓灞肩瑩閸掆晛婀撮崶淇扁偓宄?閿涘牊娓惰箛顐ユ儰閸﹀府绱氭导姘辨暏 `level=PROVINCE` 閼惧嘲褰囬崥鍕阜娴犵晫娈?`centerLat/centerLng` 娴ｆ粈璐熼崷鏉挎禈 marker 閸ф劖鐖ｉ妴?
      operationId: listRegions
      security: []
      parameters:
        - name: level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RegionLevel'
        - name: parentCode
          in: query
          required: false
          schema:
            type: string
            pattern: ^[0-9]{6}$
          description: 閻栧墎楠囩悰灞炬杺閸栧搫鍨?adcode閿? 娴ｅ秴鐡х粭锔胯閿?

      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
  /search/listings:
    get:
      tags:
        - Search
      summary: 娑撴挸鍩勬禍銈嗘濡偓缁?
      operationId: searchListings
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/QType'
        - $ref: '#/components/parameters/PatentType'
        - $ref: '#/components/parameters/Inventor'
        - $ref: '#/components/parameters/Applicant'
        - $ref: '#/components/parameters/Assignee'
        - $ref: '#/components/parameters/SellerUserId'
        - $ref: '#/components/parameters/TradeMode'
        - $ref: '#/components/parameters/LicenseMode'
        - $ref: '#/components/parameters/PriceType'
        - $ref: '#/components/parameters/PriceMin'
        - $ref: '#/components/parameters/PriceMax'
        - $ref: '#/components/parameters/DepositMin'
        - $ref: '#/components/parameters/DepositMax'
        - $ref: '#/components/parameters/TransferCountMin'
        - $ref: '#/components/parameters/TransferCountMax'
        - $ref: '#/components/parameters/ListingTopic'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/IndustryTags'
        - $ref: '#/components/parameters/Ipc'
        - $ref: '#/components/parameters/Loc'
        - $ref: '#/components/parameters/LegalStatus'
        - $ref: '#/components/parameters/CreatedFrom'
        - $ref: '#/components/parameters/CreatedTo'
        - $ref: '#/components/parameters/FilingDateFrom'
        - $ref: '#/components/parameters/FilingDateTo'
        - $ref: '#/components/parameters/PublicationDateFrom'
        - $ref: '#/components/parameters/PublicationDateTo'
        - $ref: '#/components/parameters/GrantDateFrom'
        - $ref: '#/components/parameters/GrantDateTo'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListingSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
  /search/achievements:
    get:
      tags:
        - Search
        - Achievements
      summary: Search public achievements
      operationId: searchAchievements
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/AchievementSortBy'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/AchievementMaturity'
        - $ref: '#/components/parameters/IndustryTags'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAchievementSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
  /search/tech-managers:
    get:
      tags:
        - Search
        - TechManagers
      summary: 閹垛偓閺堫垳绮￠悶鍡曟眽濡偓缁?
      operationId: searchTechManagers
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/TechManagerSortBy'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedTechManagerSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
  /search/inventors:
    get:
      tags:
        - Search
      summary: 閸欐垶妲戞禍鐑樺笓鐞涘本顪侀敍鍫熷瘻楠炲啿褰撮崘鍛瑐娴肩姳绗撻崚鈺冪埠鐠佲槄绱?
      operationId: searchInventorRankings
      security: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/PatentType'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedInventorRanking'
        '400':
          $ref: '#/components/responses/BadRequest'
  /ai/agent/query:
    post:
      tags:
        - AI
      summary: 閺呴缚鍏樻担鎾诡嚔娑斿顥呯槐顫礄P1閿?
      description: |
        閺€顖涘瘮閺傚洦婀?鐠囶參鐓舵潏鎾冲弳閿涘矁绶崙铏圭波閺嬪嫬瀵插Λ鈧槐銏℃蒋娴犳湹绗岄崠褰掑帳閻炲棛鏁遍妴?        鐏忓繒鈻兼惔蹇旀暜閹镐浇顕㈤棅瀹犵翻閸忋儻绱盚5 娴犲懏褰佺粈鍝勫箵鐏忓繒鈻兼惔蹇庡▏閻劏顕㈤棅铏偝缁鳖潿鈧?
      operationId: createAiAgentQuery
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAgentQueryRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAgentQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
  /ai/parse-results/{parseResultId}/feedback:
    post:
      tags:
        - AI
      summary: AI 鐟欙絾鐎界拠鍕幆/缁剧娀鏁婇崣宥夘洯閿涘湧1閿?
      operationId: createAiParseFeedback
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParseResultId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiParseFeedbackRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiParseFeedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings:
    post:
      tags:
        - Listings
      summary: 閸掓稑缂撴稉濠冪仸閼藉顭堥敍鍫濆礌鐎硅绱?
      operationId: createListing
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    get:
      tags:
        - Listings
      summary: 閹存垹娈戞稉濠冪仸閸掓銆冮敍鍫濆礌鐎硅绱?
      operationId: listMyListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingStatus'
        - $ref: '#/components/parameters/AuditStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListing'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /listings/{listingId}:
    get:
      tags:
        - Listings
      summary: 閼惧嘲褰囨稉濠冪仸鐠囷附鍎忛敍鍫濆礌鐎?瀹歌尙娅ヨぐ鏇礆
      operationId: getListingById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Listings
      summary: 閺囧瓨鏌婃稉濠冪仸閼藉顭堥敍鍫濆礌鐎硅绱?
      operationId: updateListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /listings/{listingId}/favorites:
    post:
      tags:
        - Listings
      summary: 閺€鎯版
      operationId: favoriteListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags:
        - Listings
      summary: 閸欐牗绉烽弨鎯版
      operationId: unfavoriteListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}/consultations:
    post:
      tags:
        - Listings
      summary: 鐠佹澘缍嶉崪銊嚄閻戭厼瀹虫禍瀣╂閿涘牏鏁ゆ禍搴㈠腹閼芥劧绱?
      operationId: createListingConsultation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  enum:
                    - WECHAT_CS
                    - PHONE
                    - FORM
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingConsultationCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}/comments:
    post:
      tags:
        - Comments
      summary: 閸掓稑缂撴稉濠冪仸閻ｆ瑨鈻?閸ョ偛顦?
      operationId: createListingComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /listings/{listingId}/submit:
    post:
      tags:
        - Listings
      summary: 閹绘劒姘︾€光剝鐗抽敍鍫濆礌鐎硅绱?
      operationId: submitListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /listings/{listingId}/off-shelf:
    post:
      tags:
        - Listings
      summary: 娑撳鐏﹂敍鍫濆礌鐎硅绱?
      operationId: offShelfListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /achievements:
    get:
      tags:
        - Achievements
      summary: List my achievements
      operationId: listMyAchievements
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuditStatus'
        - $ref: '#/components/parameters/ContentStatusParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAchievementSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Achievements
      summary: Create achievement
      operationId: createAchievement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementEdit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /achievements/{achievementId}:
    get:
      tags:
        - Achievements
      summary: Get my achievement detail
      operationId: getMyAchievementById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementEdit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Achievements
      summary: Update my achievement
      operationId: updateMyAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementEdit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /achievements/{achievementId}/submit:
    post:
      tags:
        - Achievements
      summary: Submit achievement for review
      operationId: submitAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /achievements/{achievementId}/off-shelf:
    post:
      tags:
        - Achievements
      summary: Off-shelf my achievement
      operationId: offShelfAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /achievements/{achievementId}/consultations:
    post:
      tags:
        - Achievements
      summary: Create achievement consultation
      operationId: createAchievementConsultation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  enum:
                    - WECHAT_CS
                    - PHONE
                    - FORM
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /achievements/{achievementId}/comments:
    post:
      tags:
        - Comments
        - Achievements
      summary: Create achievement comment
      operationId: createAchievementComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /achievements/{achievementId}/favorites:
    post:
      tags:
        - Achievements
      summary: Favorite achievement
      operationId: favoriteAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Achievements
      summary: Unfavorite achievement
      operationId: unfavoriteAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /comments/{commentId}:
    patch:
      tags:
        - Comments
      summary: 缂傛牞绶悾娆掆枅
      operationId: updateComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommentId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags:
        - Comments
      summary: 閸掔娀娅庨悾娆掆枅
      operationId: deleteComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommentId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders:
    post:
      tags:
        - Orders
      summary: 閸掓稑缂撶拋銏犲礋閿涘牅鎷辩€硅绱?
      operationId: createOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - listingId
              properties:
                listingId:
                  $ref: '#/components/schemas/Uuid'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags:
        - Orders
      summary: 閹存垹娈戠拋銏犲礋閸掓銆冮敍鍫滄嫳鐎?閸楁牕顔嶉敍?
      operationId: listMyOrders
      security:
        - BearerAuth: []
      parameters:
        - name: asRole
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/OrderListRole'
        - $ref: '#/components/parameters/OrderStatus'
        - $ref: '#/components/parameters/OrderStatusGroup'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: 閼惧嘲褰囩拋銏犲礋鐠囷附鍎?
      operationId: getOrderById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/payment-intents:
    post:
      tags:
        - Payments
      summary: Create WeChat JSAPI payment intent
      operationId: createPaymentIntent
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payType
              properties:
                payType:
                  $ref: '#/components/schemas/PayType'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/refund-requests:
    post:
      tags:
        - Refunds
      summary: 閸欐垼鎹ｉ柅鈧▎鍓ф暤鐠?
      operationId: createRefundRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequestCreate'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags:
        - Refunds
      summary: 閺屻儴顕楅柅鈧▎鍓ф暤鐠囧嘲鍨悰?
      operationId: listRefundRequestsByOrder
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RefundRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/case:
    get:
      tags:
        - Cases
      summary: 閼惧嘲褰囩拋銏犲礋鐠虹喎宕熷銉ュ礋娑撳酣鍣风粙瀣暥
      operationId: getOrderCase
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseWithMilestones'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/invoice:
    get:
      tags:
        - Invoices
      summary: 閼惧嘲褰囩拋銏犲礋閻㈤潧鐡欓崣鎴犮偍閿涘牐顓归崡鏇炵暚閹存劕鎮楅敍?
      operationId: getOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInvoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/invoice-requests:
    post:
      tags:
        - Invoices
      summary: 閸欐垼鎹ｅ鈧粊銊ф暤鐠囧嚖绱欏鏃傘仛閿?
      description: |
        P0 閸欙絽绶為敍姘挬閸欑増鏁幐浣测偓婊嗗偍閸旓紕鍤庢稉瀣磻缁?+ 閸氬骸褰存稉濠佺炊閸欐垹銈?PDF + 閻劍鍩涙稉瀣祰閳ユ縿鈧?        瑜版挸澧犵€圭偟骞囨稉鐑樼川缁€铏规暏闁棑绱濇穱婵堟殌閻㈠疇顕崗銉ュ經娴犮儰绌剁€靛綊缍堥崜宥囶伂濞翠胶鈻兼稉搴℃倵缂侇厽澧跨仦鏇樷偓?
      operationId: requestOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices:
    get:
      tags:
        - Invoices
      summary: 閸欐垹銈ㄧ粻锛勬倞娑擃厼绺鹃崚妤勩€冮敍鍫熺川缁€鐚寸礆
      operationId: listMyInvoices
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/InvoiceStatus'
          description: 閸欐垹銈ㄩ悩鑸碘偓浣虹摣闁?
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedInvoiceItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/wechatpay/notify:
    post:
      tags:
        - Payments
      summary: WeChat Pay v3 notify callback
      operationId: wechatPayNotify
      security: []
      description: |-
        Handle WeChat Pay v3 payment/refund notifications.
        Server verifies `Wechatpay-*` signature headers, decrypts `resource`,
        deduplicates by provider event id, and updates order/payment states.
      parameters:
        - $ref: "#/components/parameters/WechatpayTimestamp"
        - $ref: "#/components/parameters/WechatpayNonce"
        - $ref: "#/components/parameters/WechatpaySignature"
        - $ref: "#/components/parameters/WechatpaySerial"
        - $ref: "#/components/parameters/WechatpaySignatureType"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /me/conversations:
    get:
      tags:
        - Messaging
      summary: 閼惧嘲褰囬幋鎴犳畱娴兼俺鐦介崚妤勩€?
      operationId: listMyConversations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedConversationSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /listings/{listingId}/conversations:
    post:
      tags:
        - Messaging
      summary: 閸掓稑缂?閼惧嘲褰囨稉搴ゎ嚉娑撳﹥鐏﹂惄绋垮彠閻ㄥ嫪绱扮拠婵撶礄閸溿劏顕楅敍?
      operationId: upsertListingConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ListingId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /achievements/{achievementId}/conversations:
    post:
      tags:
        - Messaging
        - Achievements
      summary: Create or get achievement conversation
      operationId: upsertAchievementConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /tech-managers/{techManagerId}/conversations:
    post:
      tags:
        - Messaging
        - TechManagers
      summary: 閸掓稑缂?閼惧嘲褰囨稉搴ゎ嚉閹垛偓閺堫垳绮￠悶鍡曟眽閻╃鍙ч惃鍕窗鐠囨繐绱欓崪銊嚄閿?
      operationId: upsertTechManagerConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TechManagerId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /support/conversations:
    post:
      tags:
        - Messaging
      summary: Create or get support conversation
      operationId: upsertSupportConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/dispute-conversations:
    post:
      tags:
        - Messaging
        - Orders
      summary: Create or get order dispute conversation
      operationId: upsertOrderDisputeConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /patent-maintenance/orders/{orderId}/conversations:
    post:
      tags:
        - Messaging
        - Maintenance
      summary: Create or get maintenance order conversation
      operationId: upsertMaintenanceOrderConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MaintenanceOrderId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /conversations/{conversationId}/messages:
    get:
      tags:
        - Messaging
      summary: 閼惧嘲褰囨导姘崇樈濞戝牊浼呴崚妤勩€?
      operationId: listConversationMessages
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: 濞撳憡鐖ｉ崚鍡涖€夐敍鍫滆礋缁岄缚銆冪粈杞扮矤閺堚偓閺傛澘绱戞慨瀣剁礆
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedConversationMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Messaging
      summary: 閸欐垿鈧焦绉烽幁顖ょ礄閺傚洦婀?鐞涖劍鍎忛敍?
      operationId: sendConversationMessage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMessageSendRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /conversations/{conversationId}/read:
    post:
      tags:
        - Messaging
      summary: 閺嶅洩顔囨导姘崇樈瀹歌尪顕?
      operationId: markConversationRead
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/conversations/platform:
    get:
      tags:
        - Admin
        - Messaging
      summary: List platform managed conversations
      operationId: adminListPlatformConversations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - name: channel
          in: query
          required: false
          schema:
            type: string
            enum:
              - ALL
              - CONSULTATION
              - SUPPORT
              - DISPUTE
              - MAINTENANCE
          description: Conversation channel filter.
        - name: assigned
          in: query
          required: false
          schema:
            type: string
            enum:
              - ALL
              - MINE
              - ASSIGNED
              - UNASSIGNED
          description: Assignment scope filter.
        - $ref: '#/components/parameters/ListingTopic'
        - name: updatedFrom
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Updated time start (inclusive).
        - name: updatedTo
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Updated time end (inclusive).
        - name: mineOnly
          in: query
          required: false
          schema:
            type: boolean
          description: Legacy flag. Prefer `assigned=MINE`.
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedConversationSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/conversations/{conversationId}/agents:
    post:
      tags:
        - Admin
        - Messaging
      summary: Assign platform conversation agent
      operationId: adminAssignPlatformConversationAgent
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationAgentAssignmentRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationAgentAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/conversations/{conversationId}/agents/{userId}:
    delete:
      tags:
        - Admin
        - Messaging
      summary: Remove platform conversation agent
      operationId: adminRemovePlatformConversationAgent
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - $ref: '#/components/parameters/ConversationAgentUserId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationAgentAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/regions:
    get:
      tags:
        - Admin
        - Regions
      summary: 閸栧搫鐓欑粻锛勬倞閿涙碍鐓＄拠銏犲隘閸╃喎鍨悰?
      operationId: adminListRegions
      security:
        - BearerAuth: []
      parameters:
        - name: level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RegionLevel'
        - name: parentCode
          in: query
          required: false
          schema:
            type: string
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: 閸氬秶袨/閹峰ジ鐓跺Ο锛勭ˇ閹兼粎鍌?
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Regions
      summary: 閸栧搫鐓欑粻锛勬倞閿涙碍鏌婃晶鐐插隘閸╃喕濡悙?
      operationId: adminCreateRegion
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/regions/{regionCode}:
    patch:
      tags:
        - Admin
        - Regions
      summary: 閸栧搫鐓欑粻锛勬倞閿涙碍娲块弬鏉垮隘閸╃喕濡悙?
      operationId: adminUpdateRegion
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionCodePath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/regions/{regionCode}/industry-tags:
    put:
      tags:
        - Admin
        - Regions
      summary: 閸栧搫鐓欑粻锛勬倞閿涙俺顔曠純顔煎隘閸╃喓澹掗懝韫獓娑撴碍鐖ｇ粵?
      operationId: adminSetRegionIndustryTags
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionCodePath'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - industryTags
              properties:
                industryTags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/industry-tags:
    get:
      tags:
        - Admin
        - Regions
      summary: 閼惧嘲褰囬崣顖滄暏娴溠傜瑹閺嶅洨顒烽崚妤勩€?
      operationId: adminListIndustryTags
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndustryTag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Regions
      summary: 閺傛澘顤冩禍褌绗熼弽鍥╊劮
      operationId: adminCreateIndustryTag
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndustryTagCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndustryTag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/config/trade-rules:
    get:
      tags:
        - Admin
        - Config
      summary: 閼惧嘲褰囨禍銈嗘鐟欏嫬鍨柊宥囩枂閿涘牆鎮楅崣甯礆
      operationId: adminGetTradeRulesConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeRulesConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
      summary: 閺囧瓨鏌婃禍銈嗘鐟欏嫬鍨柊宥囩枂閿涘牆鎮楅崣甯礆
      operationId: adminUpdateTradeRulesConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeRulesConfigUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeRulesConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/config/customer-service:
    get:
      tags:
        - Admin
        - Config
      summary: 閼惧嘲褰囩€广垺婀囬柊宥囩枂閿涘牆鎮楅崣甯礆
      operationId: adminGetCustomerServiceConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
      summary: 閺囧瓨鏌婄€广垺婀囬柊宥囩枂閿涘牆鎮楅崣甯礆
      operationId: adminUpdateCustomerServiceConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceConfigUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contracts:
    get:
      tags:
        - Contracts
      summary: List contracts
      description: |
        Returns the current user's contract list and supports status filtering.
        For upload flow, use `POST /contracts/{contractId}/upload`.
      operationId: listContracts
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ContractStatus'
          description: 閸氬牆鎮撻悩鑸碘偓浣虹摣闁?
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contracts/{contractId}/upload:
    post:
      tags:
        - Contracts
      summary: 閸楁牕顔嶆稉濠佺炊閸氬牆鎮撻敍鍦F閿?
      description: |
        濞翠胶鈻奸敍?        1) `POST /files` 娑撳﹣绱?PDF閿涘潉purpose=CONTRACT_EVIDENCE`閿?        2) 閹峰灝鍩?`file.id`
        3) 鐠嬪啰鏁ら張顒佸复閸欙絾濡?`contractFileId` 閸忓疇浠堥崚鏉挎値閸氬矁顔囪ぐ?
      operationId: uploadContractPdf
      security:
        - BearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
          description: 閸氬牆鎮?ID閿涘牆缍嬮崜宥呯杽閻滈璐?`contract-{orderId}`閿?
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUploadRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/config/recommendation:
    get:
      tags:
        - Admin
        - Config
      summary: 閼惧嘲褰囬幒銊ㄥ礃闁板秶鐤嗛敍鍫濇倵閸欏府绱?
      operationId: adminGetRecommendationConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
      summary: 閺囧瓨鏌婇幒銊ㄥ礃闁板秶鐤嗛敍鍫濇倵閸欏府绱?
      operationId: adminUpdateRecommendationConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationConfigUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/config/alerts:
    get:
      tags:
        - Admin
        - Config
        - Alerts
      summary: 閼惧嘲褰囬崨濠咁劅闁板秶鐤嗛敍鍫濇倵閸欏府绱漃1閿?
      operationId: adminGetAlertConfig
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Admin
        - Config
        - Alerts
      summary: 閺囧瓨鏌婇崨濠咁劅闁板秶鐤嗛敍鍫濇倵閸欏府绱漃1閿?
      operationId: adminUpdateAlertConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertConfigUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/ai/parse-results:
    get:
      tags:
        - Admin
        - AI
      summary: AI 鐟欙絾鐎芥径宥嗙壋閸掓銆冮敍鍦?閿?
      operationId: adminListAiParseResults
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AiContentType'
        - $ref: '#/components/parameters/AiParseStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAiParseResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/ai/parse-results/{parseResultId}:
    get:
      tags:
        - Admin
        - AI
      summary: 閼惧嘲褰?AI 鐟欙絾鐎界拠锔藉剰閿涘湧1閿?
      operationId: adminGetAiParseResult
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParseResultId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiParseResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
        - AI
      summary: 閺囧瓨鏌?AI 鐟欙絾鐎界紒鎾寸亯閿涘湧1閿?
      operationId: adminUpdateAiParseResult
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParseResultId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiParseResultUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiParseResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/achievements:
    get:
      tags:
        - Admin
        - Achievements
      summary: List achievements for admin
      operationId: adminListAchievements
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/AuditStatus'
        - $ref: '#/components/parameters/ContentStatusParam'
        - $ref: '#/components/parameters/ContentSource'
        - name: publisherUserId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Uuid'
        - $ref: '#/components/parameters/RegionCode'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAchievementSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Achievements
      summary: Create achievement in admin
      operationId: adminCreateAchievement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementAdminCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementEdit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/achievements/{achievementId}:
    get:
      tags:
        - Admin
        - Achievements
      summary: Get achievement detail in admin
      operationId: adminGetAchievementById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementEdit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
        - Achievements
      summary: Update achievement in admin
      operationId: adminUpdateAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementAdminUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementEdit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/achievements/{achievementId}/publish:
    post:
      tags:
        - Admin
        - Achievements
      summary: Publish achievement in admin
      operationId: adminPublishAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/achievements/{achievementId}/off-shelf:
    post:
      tags:
        - Admin
        - Achievements
      summary: Off-shelf achievement in admin
      operationId: adminOffShelfAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/achievements/{achievementId}/materials:
    get:
      tags:
        - Admin
        - Achievements
      summary: Get achievement audit materials
      operationId: adminGetAchievementMaterials
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditMaterialList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/achievements/{achievementId}/audit-logs:
    get:
      tags:
        - Admin
        - Achievements
      summary: Get achievement audit logs
      operationId: adminGetAchievementAuditLogs
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/achievements/{achievementId}/approve:
    post:
      tags:
        - Admin
        - Achievements
      summary: Approve achievement
      operationId: adminApproveAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/achievements/{achievementId}/reject:
    post:
      tags:
        - Admin
        - Achievements
      summary: Reject achievement
      operationId: adminRejectAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AchievementId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/patents:
    get:
      tags:
        - Admin
        - Patents
      summary: 娑撴挸鍩勬惔鎾冲灙鐞涱煉绱欓崥搴″酱閿涘1閿?
      operationId: adminListPatents
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/PatentType'
        - $ref: '#/components/parameters/LegalStatus'
        - $ref: '#/components/parameters/PatentSourcePrimary'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPatent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
        - Patents
      summary: 閺傛澘缂撴稉鎾冲焺娑撶粯鏆熼幑顕嗙礄閸氬骸褰撮敍瀛?閿?
      operationId: adminCreatePatent
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentCreateRequest'
      responses:
        '201':
          description: Created

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/patents/{patentId}:
    get:
      tags:
        - Admin
        - Patents
      summary: 閼惧嘲褰囨稉鎾冲焺娑撶粯鏆熼幑顕嗙礄閸氬骸褰撮敍瀛?閿?
      operationId: adminGetPatentById
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Admin
        - Patents
      summary: 閺囧瓨鏌婃稉鎾冲焺娑撶粯鏆熼幑顕嗙礄閸氬骸褰撮敍瀛?閿?
      operationId: adminUpdatePatent
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentUpdateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/patents/jobs/import:
    post:
      tags:
        - Admin
        - Patents
      summary: Create patent import job
      operationId: adminCreatePatentImportJob
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentImportJobCreateRequest'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentImportJob'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags:
        - Admin
        - Patents
      summary: List patent import jobs
      operationId: adminListPatentImportJobs
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentJobStatusParam'
        - $ref: '#/components/parameters/PatentImportDuplicatePolicyParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPatentImportJob'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/patents/jobs/import/{jobId}:
    get:
      tags:
        - Admin
        - Patents
      summary: Get patent import job detail
      operationId: adminGetPatentImportJob
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PatentImportJobId'
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentImportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/patents/jobs/import/{jobId}/validate:
    post:
      tags:
        - Admin
        - Patents
      summary: Validate patent import job
      operationId: adminValidatePatentImportJob
      security:
        - BearerAuth: []
      parameters:
[...]
