openapi: 3.0.3
info:
  title: Ipmoney API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://ipmoney.com
  description: |
    Ipmoney 专利交易平台（小程序 + 用户 H5 + 后台）对外 API（P0）。

    业务约束（P0）：
    - 标的范围：仅 CN 专利（数据以用户上传/后台录入为准）
    - 资金路径：订金与尾款均线上支付并托管
    - 合同签署：线下签署完成后由客服/运营确认里程碑解锁尾款支付
    - 佣金：卖家承担；放款时从卖家应收中扣除
servers:
  - url: https://api.ipmoney.com/v1
tags:
  - name: Auth
    description: 登录、短信验证码与 token
  - name: Users
    description: 用户资料与认证主体
  - name: Organizations
    description: 机构展示（企业/科研院校等）
  - name: Config
    description: 交易规则与推荐配置
  - name: Files
    description: 文件上传、下载与鉴权
  - name: Patents
    description: 专利主数据与号码规范化
  - name: Search
    description: 检索、排序与猜你喜欢
  - name: Listings
    description: 上架商品（卖家）与收藏/咨询
  - name: Demands
    description: 产学研需求（发布/审核/展示/咨询）
  - name: Achievements
    description: 成果展示（发布/审核/展示/咨询）
  - name: Artworks
    description: 书画专区（发布/审核/展示/咨询）
  - name: TechManagers
    description: 技术经理人栏目（检索/展示/咨询）
  - name: Orders
    description: 订单创建、查询与状态机
  - name: Payments
    description: 支付意图、回调与幂等
  - name: Refunds
    description: 退款申请与审批
  - name: Cases
    description: 跟单工单与里程碑
  - name: Invoices
    description: 订单电子发票下载
  - name: Messaging
    description: 会话与消息（咨询/聊天）
  - name: Comments
    description: 详情页留言与互动回复
  - name: Regions
    description: 行政区划与地域产业标签
  - name: PatentMap
    description: 专利地图数据查询
  - name: Admin
    description: 后台管理（审核/配置/财务/地图 CMS）
  - name: AI
    description: 智能体/语音/解析/评分（P1）
  - name: Maintenance
    description: 专利年费托管与工单（P1）
  - name: Alerts
    description: 告警与通知（P1）
security:
  - BearerAuth: []
paths:
  /auth/wechat/mp-login:
    post:
      tags: [Auth]
      summary: 微信小程序登录（code → token）
      description: |
        小程序端通过 `wx.login` 获取 `code` 后调用本接口。

        说明：
        - 服务端应使用微信 `code2Session`（`/sns/jscode2session`）换取 `openid/session_key`，并按 `openid` 做用户映射后签发平台 `accessToken`。
        - `wx.login` 不返回头像/昵称：头像/昵称建议走 `chooseAvatar + input type="nickname"`，并通过 `POST /files` + `PATCH /me` 落库。
      operationId: authWechatMpLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /auth/wechat/phone-bind:
    post:
      tags: [Auth]
      summary: WeChat phone bind (Mini Program)
      description: |
        Mini Program obtains `phoneCode` from `open-type="getPhoneNumber"` and calls this API to bind the phone.

        Notes:
        - Requires BearerAuth.
        - Real implementation should call WeChat `phonenumber.getPhoneNumber` and persist the phone to the user profile.
      operationId: authWechatPhoneBind
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phoneCode]
              properties:
                phoneCode:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [phone]
                properties:
                  phone:
                    $ref: "#/components/schemas/PhoneNumber"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/sms/send:
    post:
      tags: [Auth]
      summary: 发送短信验证码
      operationId: authSmsSend
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, purpose]
              properties:
                phone:
                  $ref: "#/components/schemas/PhoneNumber"
                purpose:
                  $ref: "#/components/schemas/SmsPurpose"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [cooldownSeconds]
                properties:
                  cooldownSeconds:
                    type: integer
                    minimum: 0
        "400":
          $ref: "#/components/responses/BadRequest"

  /auth/sms/verify:
    post:
      tags: [Auth]
      summary: 短信验证码登录
      operationId: authSmsVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone:
                  $ref: "#/components/schemas/PhoneNumber"
                code:
                  type: string
                  minLength: 4
                  maxLength: 8
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /me:
    get:
      tags: [Users]
      summary: 获取我的资料
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Users]
      summary: 更新我的资料
      operationId: updateMe
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  maxLength: 50
                  description: 昵称；小程序端建议使用 `<input type="nickname">` 采集
                avatarUrl:
                  type: string
                  format: uri
                  description: 头像 URL；建议先 `POST /files` 上传（`purpose=AVATAR`）再写入
                regionCode:
                  type: string
                  description: 用于地域推荐；小程序定位/手动选择后可更新
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /me/verification:
    get:
      tags: [Users]
      summary: 获取我的认证信息
      operationId: getMyVerification
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserVerification"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Users]
      summary: 提交认证
      operationId: submitMyVerification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserVerificationSubmitRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserVerification"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /me/favorites:
    get:
      tags: [Listings]
      summary: 我的收藏列表
      operationId: listMyFavoriteListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedListingSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /me/favorites/demands:
    get:
      tags: [Demands]
      summary: 我的需求收藏列表
      operationId: listMyFavoriteDemands
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedDemandSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /me/favorites/achievements:
    get:
      tags: [Achievements]
      summary: 我的成果收藏列表
      operationId: listMyFavoriteAchievements
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedAchievementSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /me/favorites/artworks:
    get:
      tags: [Artworks]
      summary: 我的书画收藏列表
      operationId: listMyFavoriteArtworks
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedArtworkSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /me/recommendations/listings:
    get:
      tags: [Search]
      summary: 猜你喜欢（个性化推荐）
      operationId: getMyRecommendedListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedListingSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /files:
    post:
      tags: [Files]
      summary: 上传文件
      description: |
        用于上传头像/认证材料/合同等文件。

        小程序头像建议：
        1) `purpose=AVATAR`
        2) 上传成功拿到 `url`
        3) `PATCH /me { avatarUrl: url }`
      operationId: uploadFile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  $ref: "#/components/schemas/FilePurpose"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileObject"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /patents/normalize:
    post:
      tags: [Patents]
      summary: 专利号码解析与规范化
      operationId: normalizePatentNumber
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatentNormalizeRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentNormalizeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /patents/{patentId}:
    get:
      tags: [Patents]
      summary: 获取专利主数据
      operationId: getPatentById
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PatentId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/config/trade-rules:
    get:
      tags: [Config]
      summary: 获取交易规则配置（前台展示用）
      operationId: getPublicTradeRulesConfig
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeRulesConfig"
        "400":
          $ref: "#/components/responses/BadRequest"

  /public/config/customer-service:
    get:
      tags: [Config]
      summary: 获取客服配置（前台展示用）
      operationId: getPublicCustomerServiceConfig
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerServiceConfig"
        "400":
          $ref: "#/components/responses/BadRequest"

  /public/listings/{listingId}:
    get:
      tags: [Listings]
      summary: 获取上架详情（公开）
      operationId: getPublicListingById
      security: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingPublic"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/listings/{listingId}/comments:
    get:
      tags: [Comments]
      summary: 获取上架留言列表（公开）
      operationId: listPublicListingComments
      security: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedCommentThread"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/demands/{demandId}:
    get:
      tags: [Demands]
      summary: 获取需求详情（公开）
      operationId: getPublicDemandById
      security: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DemandPublic"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/demands/{demandId}/comments:
    get:
      tags: [Comments]
      summary: 获取需求留言列表（公开）
      operationId: listPublicDemandComments
      security: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedCommentThread"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/achievements/{achievementId}:
    get:
      tags: [Achievements]
      summary: 获取成果详情（公开）
      operationId: getPublicAchievementById
      security: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementPublic"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/achievements/{achievementId}/comments:
    get:
      tags: [Comments]
      summary: 获取成果留言列表（公开）
      operationId: listPublicAchievementComments
      security: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedCommentThread"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/artworks/{artworkId}:
    get:
      tags: [Artworks]
      summary: 获取书画作品详情（公开）
      operationId: getPublicArtworkById
      security: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtworkPublic"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/artworks/{artworkId}/comments:
    get:
      tags: [Comments]
      summary: 获取书画留言列表（公开）
      operationId: listPublicArtworkComments
      security: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedCommentThread"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/tech-managers/{techManagerId}:
    get:
      tags: [TechManagers]
      summary: 获取技术经理人详情（公开）
      operationId: getPublicTechManagerById
      security: []
      parameters:
        - $ref: "#/components/parameters/TechManagerId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TechManagerPublic"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/organizations:
    get:
      tags: [Organizations]
      summary: 获取入驻机构列表（企业/科研院校等）
      operationId: listPublicOrganizations
      security: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/OrganizationTypes"
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedOrganizationSummary"
        "400":
          $ref: "#/components/responses/BadRequest"

  /public/industry-tags:
    get:
      tags: [Regions]
      summary: 获取产业标签列表（用于筛选）
      operationId: listPublicIndustryTags
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IndustryTag"
        "400":
          $ref: "#/components/responses/BadRequest"

  /public/organizations/{orgUserId}:
    get:
      tags: [Organizations]
      summary: 获取机构详情（公开）
      operationId: getPublicOrganizationById
      security: []
      parameters:
        - $ref: "#/components/parameters/OrgUserId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSummary"
        "404":
          $ref: "#/components/responses/NotFound"

  /regions:
    get:
      tags: [Regions]
      summary: 获取行政区划树（用于筛选/地图）
      description: |-
        用于地区筛选与地图定位。

        小程序「专利地图」P0（最快落地）会用 `level=PROVINCE` 获取各省份的 `centerLat/centerLng` 作为地图 marker 坐标。
      operationId: listRegions
      security: []
      parameters:
        - name: level
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/RegionLevel"
        - name: parentCode
          in: query
          required: false
          schema:
            type: string
            pattern: "^[0-9]{6}$"
          description: 父级行政区划 adcode（6 位字符串）
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RegionNode"
        "400":
          $ref: "#/components/responses/BadRequest"

  /patent-map/years:
    get:
      tags: [PatentMap]
      summary: 获取地图可用年份列表
      operationId: listPatentMapYears
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
        "400":
          $ref: "#/components/responses/BadRequest"

  /patent-map/summary:
    get:
      tags: [PatentMap]
      summary: 获取地图热力数据（按区域聚合）
      description: |-
        返回某一年、某层级（省/市/区）的专利数量统计。

        小程序「专利地图」P0（最快落地）典型用法：
        1) `GET /patent-map/years` 获取年份；
        2) `GET /patent-map/summary?year=YYYY&level=PROVINCE` 获取省级专利数量；
        3) `GET /regions?level=PROVINCE` 获取省级中心点坐标，前端在真实地图上以 marker 展示。
      operationId: getPatentMapSummary
      security: []
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
        - name: level
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/RegionLevel"
        - name: parentCode
          in: query
          required: false
          schema:
            type: string
          description: 父级行政区划码/adcode（如按 CITY 聚合时传省级 code）
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PatentMapSummaryItem"
        "400":
          $ref: "#/components/responses/BadRequest"

  /patent-map/regions/{regionCode}:
    get:
      tags: [PatentMap]
      summary: 获取某区域地图详情（产业分布/重点企业）
      operationId: getPatentMapRegionDetail
      security: []
      parameters:
        - $ref: "#/components/parameters/RegionCodePath"
        - name: year
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMapRegionDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /search/listings:
    get:
      tags: [Search]
      summary: 专利交易检索
      operationId: searchListings
      security: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/PatentType"
        - $ref: "#/components/parameters/Inventor"
        - $ref: "#/components/parameters/SellerUserId"
        - $ref: "#/components/parameters/TradeMode"
        - $ref: "#/components/parameters/PriceType"
        - $ref: "#/components/parameters/PriceMin"
        - $ref: "#/components/parameters/PriceMax"
        - $ref: "#/components/parameters/DepositMin"
        - $ref: "#/components/parameters/DepositMax"
        - $ref: "#/components/parameters/TransferCountMin"
        - $ref: "#/components/parameters/TransferCountMax"
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/IndustryTags"
        - $ref: "#/components/parameters/Ipc"
        - $ref: "#/components/parameters/Loc"
        - $ref: "#/components/parameters/LegalStatus"
        - $ref: "#/components/parameters/SortBy"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedListingSummary"
        "400":
          $ref: "#/components/responses/BadRequest"

  /search/demands:
    get:
      tags: [Search]
      summary: 产学研需求检索
      operationId: searchDemands
      security: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/IndustryTags"
        - $ref: "#/components/parameters/CooperationModes"
        - $ref: "#/components/parameters/BudgetType"
        - $ref: "#/components/parameters/BudgetMin"
        - $ref: "#/components/parameters/BudgetMax"
        - $ref: "#/components/parameters/ContentSortBy"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedDemandSummary"
        "400":
          $ref: "#/components/responses/BadRequest"

  /search/achievements:
    get:
      tags: [Search]
      summary: 成果展示检索
      operationId: searchAchievements
      security: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/IndustryTags"
        - $ref: "#/components/parameters/CooperationModes"
        - $ref: "#/components/parameters/AchievementMaturity"
        - $ref: "#/components/parameters/ContentSortBy"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedAchievementSummary"
        "400":
          $ref: "#/components/responses/BadRequest"

  /search/artworks:
    get:
      tags: [Search]
      summary: 书画专区检索
      operationId: searchArtworks
      security: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/ArtworkCategory"
        - $ref: "#/components/parameters/CalligraphyScript"
        - $ref: "#/components/parameters/PaintingGenre"
        - $ref: "#/components/parameters/Creator"
        - $ref: "#/components/parameters/CreationYearStart"
        - $ref: "#/components/parameters/CreationYearEnd"
        - $ref: "#/components/parameters/PriceType"
        - $ref: "#/components/parameters/PriceMin"
        - $ref: "#/components/parameters/PriceMax"
        - $ref: "#/components/parameters/DepositMin"
        - $ref: "#/components/parameters/DepositMax"
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/ArtworkSortBy"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedArtworkSummary"
        "400":
          $ref: "#/components/responses/BadRequest"

  /search/tech-managers:
    get:
      tags: [Search, TechManagers]
      summary: 技术经理人检索
      operationId: searchTechManagers
      security: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/TechManagerSortBy"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedTechManagerSummary"
        "400":
          $ref: "#/components/responses/BadRequest"

  /search/inventors:
    get:
      tags: [Search]
      summary: 发明人排行榜（按平台内上传专利统计）
      operationId: searchInventorRankings
      security: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/RegionCode"
        - $ref: "#/components/parameters/PatentType"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedInventorRanking"
        "400":
          $ref: "#/components/responses/BadRequest"

  /ai/agent/query:
    post:
      tags: [AI]
      summary: 智能体语义检索（P1）
      description: |
        支持文本/语音输入，输出结构化检索条件与匹配理由。
        小程序支持语音输入；H5 仅提示去小程序使用语音搜索。
      operationId: createAiAgentQuery
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiAgentQueryRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiAgentQueryResult"
        "400":
          $ref: "#/components/responses/BadRequest"

  /ai/parse-results/{parseResultId}/feedback:
    post:
      tags: [AI]
      summary: AI 解析评价/纠错反馈（P1）
      operationId: createAiParseFeedback
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ParseResultId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiParseFeedbackRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiParseFeedback"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /listings:
    post:
      tags: [Listings]
      summary: 创建上架草稿（卖家）
      operationId: createListing
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    get:
      tags: [Listings]
      summary: 我的上架列表（卖家）
      operationId: listMyListings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingStatus"
        - $ref: "#/components/parameters/AuditStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedListing"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /listings/{listingId}:
    get:
      tags: [Listings]
      summary: 获取上架详情（卖家/已登录）
      operationId: getListingById
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Listings]
      summary: 更新上架草稿（卖家）
      operationId: updateListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /listings/{listingId}/favorites:
    post:
      tags: [Listings]
      summary: 收藏
      operationId: favoriteListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags: [Listings]
      summary: 取消收藏
      operationId: unfavoriteListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /listings/{listingId}/consultations:
    post:
      tags: [Listings]
      summary: 记录咨询热度事件（用于推荐）
      operationId: createListingConsultation
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  enum: [WECHAT_CS, PHONE, FORM]
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /listings/{listingId}/comments:
    post:
      tags: [Comments]
      summary: 创建上架留言/回复
      operationId: createListingComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /listings/{listingId}/submit:
    post:
      tags: [Listings]
      summary: 提交审核（卖家）
      operationId: submitListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /listings/{listingId}/off-shelf:
    post:
      tags: [Listings]
      summary: 下架（卖家）
      operationId: offShelfListing
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /demands:
    post:
      tags: [Demands]
      summary: 创建需求草稿（发布方）
      operationId: createDemand
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DemandCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Demand"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    get:
      tags: [Demands]
      summary: 我的需求列表（发布方）
      operationId: listMyDemands
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ContentStatus"
        - $ref: "#/components/parameters/AuditStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedDemand"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /demands/{demandId}:
    get:
      tags: [Demands]
      summary: 获取需求详情（发布方/已登录）
      operationId: getDemandById
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Demand"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Demands]
      summary: 更新需求草稿（发布方）
      operationId: updateDemand
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DemandUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Demand"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /demands/{demandId}/favorites:
    post:
      tags: [Demands]
      summary: 收藏需求
      operationId: favoriteDemand
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags: [Demands]
      summary: 取消收藏需求
      operationId: unfavoriteDemand
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /demands/{demandId}/comments:
    post:
      tags: [Comments]
      summary: 创建需求留言/回复
      operationId: createDemandComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /demands/{demandId}/submit:
    post:
      tags: [Demands]
      summary: 提交审核（发布方）
      operationId: submitDemand
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Demand"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /demands/{demandId}/off-shelf:
    post:
      tags: [Demands]
      summary: 下架（发布方）
      operationId: offShelfDemand
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Demand"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /achievements:
    post:
      tags: [Achievements]
      summary: 创建成果草稿（发布方）
      operationId: createAchievement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AchievementCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Achievement"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    get:
      tags: [Achievements]
      summary: 我的成果列表（发布方）
      operationId: listMyAchievements
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ContentStatus"
        - $ref: "#/components/parameters/AuditStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedAchievement"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /achievements/{achievementId}:
    get:
      tags: [Achievements]
      summary: 获取成果详情（发布方/已登录）
      operationId: getAchievementById
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Achievement"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Achievements]
      summary: 更新成果草稿（发布方）
      operationId: updateAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AchievementUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Achievement"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /achievements/{achievementId}/favorites:
    post:
      tags: [Achievements]
      summary: 收藏成果
      operationId: favoriteAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags: [Achievements]
      summary: 取消收藏成果
      operationId: unfavoriteAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /achievements/{achievementId}/comments:
    post:
      tags: [Comments]
      summary: 创建成果留言/回复
      operationId: createAchievementComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /comments/{commentId}:
    patch:
      tags: [Comments]
      summary: 编辑留言
      operationId: updateComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CommentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags: [Comments]
      summary: 删除留言
      operationId: deleteComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CommentId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /achievements/{achievementId}/submit:
    post:
      tags: [Achievements]
      summary: 提交审核（发布方）
      operationId: submitAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Achievement"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /achievements/{achievementId}/off-shelf:
    post:
      tags: [Achievements]
      summary: 下架（发布方）
      operationId: offShelfAchievement
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Achievement"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /artworks:
    post:
      tags: [Artworks]
      summary: 创建书画草稿（发布方）
      operationId: createArtwork
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtworkCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artwork"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    get:
      tags: [Artworks]
      summary: 我的书画列表（发布方）
      operationId: listMyArtworks
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkStatus"
        - $ref: "#/components/parameters/AuditStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedArtwork"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /artworks/{artworkId}:
    get:
      tags: [Artworks]
      summary: 获取书画详情（发布方/已登录）
      operationId: getArtworkById
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artwork"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Artworks]
      summary: 更新书画草稿（发布方）
      operationId: updateArtwork
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtworkUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artwork"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /artworks/{artworkId}/favorites:
    post:
      tags: [Artworks]
      summary: 收藏书画作品
      operationId: favoriteArtwork
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags: [Artworks]
      summary: 取消收藏书画作品
      operationId: unfavoriteArtwork
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /artworks/{artworkId}/comments:
    post:
      tags: [Comments]
      summary: 创建书画留言/回复
      operationId: createArtworkComment
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /artworks/{artworkId}/submit:
    post:
      tags: [Artworks]
      summary: 提交审核（发布方）
      operationId: submitArtwork
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artwork"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /artworks/{artworkId}/off-shelf:
    post:
      tags: [Artworks]
      summary: 下架（发布方）
      operationId: offShelfArtwork
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artwork"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /orders:
    post:
      tags: [Orders]
      summary: 创建订单（买家）
      operationId: createOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              oneOf:
                - required: [listingId]
                - required: [artworkId]
              properties:
                listingId:
                  $ref: "#/components/schemas/Uuid"
                artworkId:
                  $ref: "#/components/schemas/Uuid"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    get:
      tags: [Orders]
      summary: 我的订单列表（买家/卖家）
      operationId: listMyOrders
      security:
        - BearerAuth: []
      parameters:
        - name: asRole
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/OrderListRole"
        - $ref: "#/components/parameters/OrderStatus"
        - $ref: "#/components/parameters/OrderStatusGroup"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedOrder"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /orders/{orderId}:
    get:
      tags: [Orders]
      summary: 获取订单详情
      operationId: getOrderById
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /orders/{orderId}/payment-intents:
    post:
      tags: [Payments]
      summary: 创建支付意图（订金/尾款）
      operationId: createPaymentIntent
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payType]
              properties:
                payType:
                  $ref: "#/components/schemas/PayType"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /orders/{orderId}/refund-requests:
    post:
      tags: [Refunds]
      summary: 发起退款申请
      operationId: createRefundRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundRequestCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundRequest"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    get:
      tags: [Refunds]
      summary: 查询退款申请列表
      operationId: listRefundRequestsByOrder
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RefundRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /orders/{orderId}/case:
    get:
      tags: [Cases]
      summary: 获取订单跟单工单与里程碑
      operationId: getOrderCase
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseWithMilestones"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /orders/{orderId}/invoice:
    get:
      tags: [Invoices]
      summary: 获取订单电子发票（订单完成后）
      operationId: getOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderInvoice"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /orders/{orderId}/invoice-requests:
    post:
      tags: [Invoices]
      summary: 发起开票申请（演示）
      description: |
        P0 口径：平台支持“财务线下开票 + 后台上传发票 PDF + 用户下载”。
        当前实现为演示用途，保留申请入口以便对齐前端流程与后续扩展。
      operationId: requestOrderInvoice
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OrderId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceRequestResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /invoices:
    get:
      tags: [Invoices]
      summary: 发票管理中心列表（演示）
      operationId: listMyInvoices
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InvoiceStatus"
          description: 发票状态筛选
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedInvoiceItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /webhooks/wechatpay/notify:
    post:
      tags: [Payments]
      summary: 微信支付回调（内部接口）
      operationId: wechatPayNotify
      security: []
      description: |-
        微信支付 v3 回调统一入口（支付/退款）：服务端必须执行 **验签 + 解密 resource**，并做幂等处理（避免重复通知导致重复入账/重复退款）。
        参考：微信支付 v3 文档中的回调 HTTP Header（Wechatpay-*）与回调报文 resource 解密流程。
      parameters:
        - $ref: "#/components/parameters/WechatpayTimestamp"
        - $ref: "#/components/parameters/WechatpayNonce"
        - $ref: "#/components/parameters/WechatpaySignature"
        - $ref: "#/components/parameters/WechatpaySerial"
        - $ref: "#/components/parameters/WechatpaySignatureType"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequest"

  /me/conversations:
    get:
      tags: [Messaging]
      summary: 获取我的会话列表
      operationId: listMyConversations
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedConversationSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /listings/{listingId}/conversations:
    post:
      tags: [Messaging]
      summary: 创建/获取与该上架相关的会话（咨询）
      operationId: upsertListingConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ListingId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /demands/{demandId}/conversations:
    post:
      tags: [Messaging]
      summary: 创建/获取与该需求相关的会话（咨询）
      operationId: upsertDemandConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DemandId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /achievements/{achievementId}/conversations:
    post:
      tags: [Messaging]
      summary: 创建/获取与该成果相关的会话（咨询）
      operationId: upsertAchievementConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AchievementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /artworks/{artworkId}/conversations:
    post:
      tags: [Messaging]
      summary: 创建/获取与该书画相关的会话（咨询）
      operationId: upsertArtworkConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ArtworkId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /tech-managers/{techManagerId}/conversations:
    post:
      tags: [Messaging, TechManagers]
      summary: 创建/获取与该技术经理人相关的会话（咨询）
      operationId: upsertTechManagerConversation
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/TechManagerId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /conversations/{conversationId}/messages:
    get:
      tags: [Messaging]
      summary: 获取会话消息列表
      operationId: listConversationMessages
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: 游标分页（为空表示从最新开始）
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedConversationMessage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Messaging]
      summary: 发送消息（文本/表情）
      operationId: sendConversationMessage
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationMessageSendRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationMessage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /conversations/{conversationId}/read:
    post:
      tags: [Messaging]
      summary: 标记会话已读
      operationId: markConversationRead
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /admin/regions:
    get:
      tags: [Admin, Regions]
      summary: 区域管理：查询区域列表
      operationId: adminListRegions
      security:
        - BearerAuth: []
      parameters:
        - name: level
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/RegionLevel"
        - name: parentCode
          in: query
          required: false
          schema:
            type: string
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: 名称/拼音模糊搜索
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RegionNode"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Admin, Regions]
      summary: 区域管理：新增区域节点
      operationId: adminCreateRegion
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegionCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionNode"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

  /admin/regions/{regionCode}:
    patch:
      tags: [Admin, Regions]
      summary: 区域管理：更新区域节点
      operationId: adminUpdateRegion
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionCodePath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegionUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionNode"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /admin/regions/{regionCode}/industry-tags:
    put:
      tags: [Admin, Regions]
      summary: 区域管理：设置区域特色产业标签
      operationId: adminSetRegionIndustryTags
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionCodePath"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [industryTags]
              properties:
                industryTags:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionNode"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /admin/industry-tags:
    get:
      tags: [Admin, Regions]
      summary: 获取可用产业标签列表
      operationId: adminListIndustryTags
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IndustryTag"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Admin, Regions]
      summary: 新增产业标签
      operationId: adminCreateIndustryTag
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IndustryTagCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndustryTag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

  /admin/patent-map/regions/{regionCode}/years/{year}:
    get:
      tags: [Admin, PatentMap]
      summary: 查看区域+年份地图数据
      operationId: adminGetPatentMapEntry
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionCodePath"
        - $ref: "#/components/parameters/YearPath"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMapEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags: [Admin, PatentMap]
      summary: 录入/更新区域+年份地图数据
      operationId: adminUpsertPatentMapEntry
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RegionCodePath"
        - $ref: "#/components/parameters/YearPath"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatentMapEntryUpsertRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMapEntry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /admin/patent-map/import:
    post:
      tags: [Admin, PatentMap]
      summary: Excel 导入地图数据
      operationId: adminImportPatentMapExcel
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                dryRun:
                  type: boolean
                  default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMapImportResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/config/trade-rules:
    get:
      tags: [Admin, Config]
      summary: 获取交易规则配置（后台）
      operationId: adminGetTradeRulesConfig
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeRulesConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/config/customer-service:
    get:
      tags: [Admin, Config]
      summary: 获取客服配置（后台）
      operationId: adminGetCustomerServiceConfig
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerServiceConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    put:
      tags: [Admin, Config]
      summary: 更新客服配置（后台）
      operationId: adminUpdateCustomerServiceConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerServiceConfigUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerServiceConfig"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contracts:
    get:
      tags: [Contracts]
      summary: 合同中心列表
      description: |
        合同文件仅支持 PDF。
        - 仅卖家可上传合同（`POST /contracts/{contractId}/upload`）
        - 买家可查阅并确认（确认能力 P1；P0 以“待确认/可查阅”状态演示为准）
      operationId: listContracts
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ContractStatus"
          description: 合同状态筛选
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedContract"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /contracts/{contractId}/upload:
    post:
      tags: [Contracts]
      summary: 卖家上传合同（PDF）
      description: |
        流程：
        1) `POST /files` 上传 PDF（`purpose=CONTRACT_EVIDENCE`）
        2) 拿到 `file.id`
        3) 调用本接口把 `contractFileId` 关联到合同记录
      operationId: uploadContractPdf
      security:
        - BearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
          description: 合同 ID（当前实现为 `contract-{orderId}`）
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractUploadRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "403":
          $ref: "#/components/responses/Forbidden"
    put:
      tags: [Admin, Config]
      summary: 更新交易规则配置（后台）
      operationId: adminUpdateTradeRulesConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TradeRulesConfigUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeRulesConfig"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/config/recommendation:
    get:
      tags: [Admin, Config]
      summary: 获取推荐配置（后台）
      operationId: adminGetRecommendationConfig
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendationConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    put:
      tags: [Admin, Config]
      summary: 更新推荐配置（后台）
      operationId: adminUpdateRecommendationConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecommendationConfigUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendationConfig"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/config/ai:
    get:
      tags: [Admin, Config, AI]
      summary: 获取 AI 配置（后台，P1）
      operationId: adminGetAiConfig
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    put:
      tags: [Admin, Config, AI]
      summary: 更新 AI 配置（后台，P1）
      operationId: adminUpdateAiConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiConfigUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiConfig"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/config/alerts:
    get:
      tags: [Admin, Config, Alerts]
      summary: 获取告警配置（后台，P1）
      operationId: adminGetAlertConfig
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    put:
      tags: [Admin, Config, Alerts]
      summary: 更新告警配置（后台，P1）
      operationId: adminUpdateAlertConfig
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertConfigUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertConfig"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/ai/parse-results:
    get:
      tags: [Admin, AI]
      summary: AI 解析复核列表（P1）
      operationId: adminListAiParseResults
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AiContentType"
        - $ref: "#/components/parameters/AiParseStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedAiParseResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/ai/parse-results/{parseResultId}:
    get:
      tags: [Admin, AI]
      summary: 获取 AI 解析详情（P1）
      operationId: adminGetAiParseResult
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ParseResultId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiParseResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Admin, AI]
      summary: 更新 AI 解析结果（P1）
      operationId: adminUpdateAiParseResult
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ParseResultId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiParseResultUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiParseResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/patents:
    get:
      tags: [Admin, Patents]
      summary: 专利库列表（后台，P1）
      operationId: adminListPatents
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/PatentType"
        - $ref: "#/components/parameters/LegalStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedPatent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Admin, Patents]
      summary: 新建专利主数据（后台，P1）
      operationId: adminCreatePatent
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatentCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/patents/{patentId}:
    get:
      tags: [Admin, Patents]
      summary: 获取专利主数据（后台，P1）
      operationId: adminGetPatentById
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PatentId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Admin, Patents]
      summary: 更新专利主数据（后台，P1）
      operationId: adminUpdatePatent
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PatentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatentUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/patent-maintenance/schedules:
    get:
      tags: [Admin, Maintenance]
      summary: 年费日程列表（后台，P1）
      operationId: adminListPatentMaintenanceSchedules
      security:
        - BearerAuth: []
      parameters:
        - name: patentId
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Uuid"
        - $ref: "#/components/parameters/MaintenanceStatus"
        - name: dueFrom
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dueTo
          in: query
          required: false
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedPatentMaintenanceSchedule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Admin, Maintenance]
      summary: 创建年费日程（后台，P1）
      operationId: adminCreatePatentMaintenanceSchedule
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatentMaintenanceScheduleCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMaintenanceSchedule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/patent-maintenance/schedules/{scheduleId}:
    get:
      tags: [Admin, Maintenance]
      summary: 获取年费日程详情（后台，P1）
      operationId: adminGetPatentMaintenanceSchedule
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/MaintenanceScheduleId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMaintenanceSchedule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Admin, Maintenance]
      summary: 更新年费日程（后台，P1）
      operationId: adminUpdatePatentMaintenanceSchedule
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/MaintenanceScheduleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatentMaintenanceScheduleUpdateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMaintenanceSchedule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/patent-maintenance/tasks:
    get:
      tags: [Admin, Maintenance]
      summary: 托管任务列表（后台，P1）
      operationId: adminListPatentMaintenanceTasks
      security:
        - BearerAuth: []
      parameters:
        - name: scheduleId
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Uuid"
        - name: assignedCsUserId
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Uuid"
        - $ref: "#/components/parameters/MaintenanceTaskStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedPatentMaintenanceTask"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Admin, Maintenance]
      summary: 创建托管任务（后台，P1）
      operationId: adminCreatePatentMaintenanceTask
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatentMaintenanceTaskCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatentMaintenanceTask"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/patent-maintenance/tasks/{taskId}:
    patch:
      tags: [Admin, Maintenance]
      summary: 更新托管任务（后台，P1）
      operationId: adminUpdatePatentMaintenanceTask
      security:
        - BearerAuth: []
      parameters:
[...]
